<!DOCTYPE html>
<style>
.img1 {
	min-height: 150px;
	background-color: lightgreen;
	margin: 10px 0px;
}

.searchPannel {
	padding: 10px;
}

.button_center {
	display: inherit;
	margin: 0px auto;
}

.button_right {
	float: right;
	margin-right: 20px;
}
.productImage{
	width: 120px;
	height: 120px;
}
.leftImage{
    position: absolute;
}
.rightInfo{
    padding-left: 50%;
    text-align: left;
    min-height: 120px;
} 
</style>
<div ng-controller="builderDataCtrl">
	<section class="well">
		<!-- 标题 -->
		<div class="fileAbout backstage">
			推广导购管理 > <span> 推广数据</span>
		</div>
		<div class="idMessage">
			<div class="greenLine">
				<div id="list_1" class="oneList choose" ng-click="chooseList(1)">推广消费者数据</div>
				<div id="list_2" class="oneList" ng-click="chooseList(2)">订单收入</div>
				<div id="list_3" class="oneList" ng-click="chooseList(3)">施工预约</div>
				<div id="list_4" class="oneList" ng-click="chooseList(4)">服务评价</div>
			</div>


			<!-- 推广消费者数据 -->
			<div id="list_1_container">
				<div class="form-horizontal form-widgets col-sm-12 gray">
					<div class="form-group">
						<div class="searchPannel row">
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">姓名</label>
									<div class="col-sm-8">
										<input ng-model="search.customer_name" class="k-textbox" />
									</div>
								</div>
							</div>
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">联系方式</label>
									<div class="col-sm-8">
										<input ng-model="search.customer_phone" class="k-textbox" />
									</div>
								</div>
							</div>

							<div class="form-horizontal form-widgets col-sm-4 ">
								<div class="form-group">
									<label class="control-label col-sm-4">施工员</label>
									<div class="col-sm-8">
										<input ng-model="search.customer_name" class="k-textbox" />
									</div>
								</div>
							</div>

						</div>


						<div class="col-md-12 buttons-wrap cleanBoth">
							<button class="k-button k-state-default" ng-click="search1()">查询</button>
						</div>
					</div>
				</div>
				<div style="clear: both;">
					<hr class="towGreen">
				</div>
				<div>
					<div kendo-grid="grid1" k-options="mainGridOptions1"></div>
				</div>
			</div>

			<!-- 订单收入 -->
			<div id="list_2_container">
				<div class="form-horizontal form-widgets col-sm-12 gray">
					<div class="form-group">
						<div class="searchPannel row">
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">订单号</label>
									<div class="col-sm-8">
										<input ng-model="search.order_code" class="k-textbox" />
									</div>
								</div>
							</div>
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">导购姓名</label>
									<div class="col-sm-8">
										<input ng-model="search.seller_name" class="k-textbox" />
									</div>
								</div>
							</div>

							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">订单状态</label>
									<div class="col-sm-8">
										<input id="order_state" class="" />
									</div>
								</div>
							</div>

						</div>
						<div class="buttons-wrap clearBoth col-md-12 ">
							<button class="k-button k-state-default" ng-click="search2()">查询</button>
						</div>
					</div>
				</div>
				<div class="interval">
					<div kendo-grid="grid2" k-options="mainGridOptions2"></div>
				</div>
			</div>

			<!-- 	弹出订单详细信息 -->
			<div kendo-window="booking_detail" k-title="'订单详情'" k-width="900"
				k-height="500" k-visible="false" k-modal="true">
				<!--顶部一行的3个数据-->
				<div class="col-md-12 row">
					<div class="form-group">
						<label class="control-label col-md-1 text-right">订单编号:</label>
						<div class="col-md-2 text-left">{{details.code}}</div>
						<label class="control-label col-md-1 text-right">交易时间:</label>
						<div class="col-md-2 text-left">{{details.create_time}}</div>

					</div>
				</div>
				<!--图片和右侧的数据-->
				<div class="col-md-12">
					<div class="col-md-3">
						<img style="width: 100%; height: 100%;" src="{{details.imgurl}}" />
					</div>
					<div class="form-horizontal  form-widgets  col-md-8">
						<div class="form-group">
							<label class="col-xs-9">标题：{{details.product_name}}</label>
						</div>
						<div class="form-group">
							<label class="col-xs-3">型号：{{details.sales_model}}</label> <label
								class="col-xs-4">颜色分类：{{details.color}}</label>
						</div>
						<div class="form-group">
							<label class="col-xs-3">单价：{{details.price}}</label> <label
								class="col-xs-4">购买数量：{{details.product_num}}</label>
						</div>
						<div class="form-group">
							<label class="col-xs-3">金额：{{details.price*details.product_num}}</label>
							<label class="col-xs-4">交易状态：{{details.state}}</label>
						</div>
					</div>
				</div>
				<!--买家信息的文字-->
				<div class="col-md-12">
					<label class="control-label col-md-12 text-left">卖家信息</label>
				</div>
				<!--买家信息的数据-->
				<div class="col-md-12">
					<div class="form-horizontal  form-widgets  col-md-offset-1">
						<div class="form-group">
							<label class="col-xs-3">昵称：{{details.customerName}}</label> <label
								class="col-xs-3">姓名：{{details.receiver_name}}</label> <label
								class="col-xs-3">联系方式：{{details.customer_phone}}</label>
						</div>
						<div class="form-group {{userRole.userBrand}}">
							<label class="col-xs-3 {{userRole.userPartner}}">所属城市合伙人：{{details.principal}}</label>
							<label class="col-xs-3 {{userRole.userBrand}}">所属品牌：{{details.brand_name}}</label>
						</div>
						<div class="form-group">
							<label class="col-xs-3 {{userRole.userShop}}">所属店面：{{details.shop_name}}</label>
							<label class="col-xs-3">推广导购：{{details.seller_name}}</label>
						</div>
						<div class="form-group">
							<label class="col-xs-3">订单状态：<span
								ng-bind-html="details.state_info"></span></label> <label
								class="col-xs-4">送货地址：{{details.address}} </label>
						</div>
					</div>
				</div>
			</div>



			<!-- 施工预约 -->
			<div id="list_3_container">
				<div class="form-horizontal form-widgets col-sm-12 gray">
					<div class="form-group">
						<div class="searchPannel row">
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">消费者姓名</label>
									<div class="col-sm-8">
										<input ng-model="search.customer_name" class="k-textbox" />
									</div>
								</div>
							</div>
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">施工员</label>
									<div class="col-sm-8">
										<input ng-model="search.account" class="k-textbox" />
									</div>
								</div>
							</div>

							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">施工状态</label>
									<div class="col-sm-8">
										<!-- <input ng-model="search.state_code"  class="k-textbox"/> -->
										<input id="build_state" class="" />
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-12  clearBoth buttons-wrap">
							<button class="k-button k-state-default" ng-click="search3()">查询</button>
						</div>
					</div>
				</div>
				<div class="interval">
					<div kendo-grid="grid3" k-options="mainGridOptions3"></div>
				</div>
			</div>
			<!-- 预约详情弹出框 -->
			<!-- 	弹出订单详细信息 -->
			<div kendo-window="builder_detail" k-title="'预约详情'" k-width="650" k-min-height="400" k-visible="false" k-modal="true" class="allTable">

				<!--买家信息的数据-->
				<table class="col-sm-12 table table-striped">
              		 <tr>
			               <td>预约姓名：</td>
			               <td>{{buildDetails.customer_name}}</td>
			               <td >预约电话：</td>
			               <td>{{buildDetails.customer_phone}}</td>
             		 </tr>
             		 <tr> 
		              	   <td>预约地址：</td>
		              	   <td  colspan="7">{{buildDetails.address_details}}</td>
                    </tr>
                    <tr>
                           <td>预约施工种类：</td>
		              	   <td>{{buildDetails.service_type}}</td>
		              	   <td >预约施工员：</td>
		              	   <td>{{buildDetails.construct_name}}</td>
		            </tr>
		            <tr>
		              	   <td>施工数据：</td>
		              	   <td  colspan="7">{{buildDetails.construct_data}}</td>
                    </tr>
                    <tr>
		              	   <td>预约时间：</td>
		              	   <td>{{buildDetails.start_time}}</td>
		              	   <td >创建时间：</td>
		              	   <td>{{buildDetails.create_time}}</td>
                    </tr>
                    <tr>
                           <td>预约需求：</td>
		              	   <td  colspan="7">{{buildDetails.needs}}</td>
                    </tr>
                    <tr>
                    	   <td>订单进度：</td>
		              	   <td colspan="7"><span ng-bind-html="buildDetails.state_info"></span></td>
                    </tr>
              </table>
			
		</div>
		
		<!-- 服务评价 -->
			<div id="list_4_container">
				<div class="form-horizontal form-widgets col-sm-12 gray">
					<div class="form-group">
						<div class="searchPannel row">
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">消费者姓名</label>
									<div class="col-sm-8">
										<input ng-model="search.customer_name" class="k-textbox" />
									</div>
								</div>
							</div>
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">联系方式</label>
									<div class="col-sm-8">
										<input ng-model="search.phone" class="k-textbox" />
									</div>
								</div>
							</div>
							<div class="form-horizontal form-widgets col-sm-4">
								<div class="form-group">
									<label class="control-label col-sm-4">施工员</label>
									<div class="col-sm-8">
										<input ng-model="search.seller_name" class="k-textbox" />
									</div>
								</div>
							</div>


						</div>
						<div class="buttons-wrap col-sm-12 clearBoth ">
							<button class="k-button k-state-default" ng-click="search4()">查询</button>
						</div>
					</div>
				</div>
				<div class="interval">
					<div kendo-grid="grid4" k-options="mainGridOptions4"></div>
				</div>
			</div>
		
</div>
</section>



</div>


