<!DOCTYPE html>
<style>
.imgContainer{
	width: 150px; 
	height: 150px;
	border: 1px dotted gray; 
    display: block;
    margin: auto;
}
.text{
	text-align: center;
    padding: 10px;
}
.button_center {
	display: inherit;
	margin: 10px auto;
}
.canEdit {
	color: #caa359;
	font-weight: bold;
	cursor: pointer;
}
.details{
	padding-top: 5px;
}
</style>
<div ng-controller="guiderManagementCtrl">
	<section class="well">
		<!-- 标题 -->
		<div class="fileAbout backstage">导购员管理</div>

		<div class="idMessage">
			<div class="form-horizontal form-widgets col-sm-12 gray">
				<div class="form-group">
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">姓名</label>
							<div class="col-sm-8">
								<input ng-model="search.name1" class="k-textbox" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">用户名</label>
							<div class="col-sm-8">
								<input ng-model="search.account" class="k-textbox" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">联系方式</label>
							<div class="col-sm-8">
								<input ng-model="search.phone" class="k-textbox" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">推广员</label>
							<div class="col-sm-8">
								<input ng-model="search.expand_name" class="k-textbox" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">账号状态</label>
							<div class="col-sm-8">
								<input id="state" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">审核状态</label>
							<div class="col-sm-8">
								<input id="check_state" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">城市合伙人</label>
							<div class="col-sm-8">
								<input ng-model="search.principal" class="k-textbox" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">所属品牌</label>
							<div class="col-sm-8">
								<input ng-model="search.brand_name" class="k-textbox" />
							</div>
						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4">所属店铺</label>
							<div class="col-sm-8">
								<input ng-model="search.shop_name" class="k-textbox" />
							</div>
						</div>
					</div>
				</div>

				<div class="buttons-wrap text-center clearBoth">
					<button class="k-button k-state-default" ng-click="search()">查询</button>
				</div>
			</div>
			
			<div>
				<button class="k-button k-state-default" ng-click="addGuider()" ng-show="addGuider_show">新增导购</button>
				<hr class="towGreen">
			</div>
			<div kendo-grid="grid" k-options="mainGridOptions"></div>

		</div>	
	</section>
	
	<div kendo-window="guiderInfoWindow" k-title="'导购信息'" k-width="800" k-min-height="150" k-visible="false" k-modal="true">
        <div class="form-horizontal form-widgets col-sm-12">
        	<div id="guiderForm">
	        	<div class="form-group">
					<label class="control-label col-md-1">姓名</label>
					<div class="col-md-3">
						<input ng-model="guiderInfo.name" class="k-textbox" />
					</div>
					<label class="control-label col-md-1">联系方式</label>
					<!-- 联系方式和账号名称一样 -->
					<div class="col-md-3">
						<input ng-model="guiderInfo.phone" class="k-textbox" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-1">账号名称</label>
					<!-- 联系方式和账号名称一样 -->
					<div class="col-md-3">
						<input ng-model="guiderInfo.phone" class="k-textbox"  disabled="disabled"/>
					</div>
	
					<label class="control-label col-md-1">密码</label>
					<div class="col-md-3">
						<input ng-model="guiderInfo.password" class="k-textbox" id="password"/>
					</div>
					<div class="col-md-1" ng-show="passwordReset_show">
						<button class="k-button k-state-default" ng-click="resetPassword()">重置</button>
					</div>
				</div>
        	</div>
			<div class="form-group" id="idcardContainer">
				<div class="col-md-3">
					<div>
						<img class="imgContainer" src="http://www.zjial.com/file/upload/2016-08-31/20160831114459-089.jpg">
					</div>
					<div class="text">正面照</div>
				</div>
				
			</div>
			<!--  审核详情 -->
	        <div id="checkDetailsContainer">
		        <div class="form-horizontal form-widgets col-sm-12">
		            <div class="form-group">
		                <label class="control-label col-sm-1">审核状态</label>
		                <div class="col-sm-8 details">{{guiderInfo.certification_state}}</div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-12">
		            <div class="form-group">
		                <label class="control-label col-sm-1">审核时间</label>
		                <div class="col-sm-8 details">{{guiderInfo.certificate_time}}</div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-12">
		            <div class="form-group">
		                <label class="control-label col-sm-1">审核跟踪</label>
		                <div class="col-sm-8 details">{{guiderInfo.no_pass_reason}}</div>
		            </div>
		        </div>
	        </div>
			<!-- 审核 -->
			<div id="checkStateContainer">
				<div class="form-horizontal form-widgets col-sm-12">
		            <div class="form-group">
		                <label class="control-label col-sm-1">审核状态</label>
		                <div class="col-sm-8">
		                	<input id="checkState"/>
		                </div>
		            </div>
		        </div>
		        <div id="unCheckedParam" class="">
			        <div class="form-horizontal form-widgets col-sm-12">
			            <div class="form-group">
			                <label class="control-label col-sm-1">理由</label>
			                <div class="col-sm-8">
			                	<textarea ng-model="checkForm.info" style="width: 100%;height: 70px;"></textarea>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-12">
			            <div class="form-group">
			                <label class="control-label col-sm-1">人工热线</label>
			                <div class="col-sm-8"><input ng-model="checkForm.phone_num"  class="k-textbox"/></div>
			            </div>
			        </div>
		        </div>
			</div>
			<div style="clear: both;"></div>
			
			<input type="hidden" id="method">
			<button class="k-button k-state-default button_center" id="submitButton" ng-click="guiderInfoSubmit()">确定</button>
	    </div>
	</div>
	
</div>


