<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %c{1}.%M: %L - %m%n"/> <!-- "%-5p: %l - %m%n" -->
		</layout>
	</appender>
	
	<!-- File Appenders -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/Logs/all.log"></param>
		<param name="Append" value="true"></param>
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param> 
		<param name="Encoding" value="UTF-8"></param>
		<param name="MaxFileSize" value="2048KB"></param>
		<param name="MaxBackupIndex" value="10"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %c{1}.%M: %L - %m%n" />
		</layout>
	</appender>
	
	<!-- warnFile Appenders -->
	<appender name="warnFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/Logs/warn.log"></param>
		<param name="Append" value="true"></param>
		<param name="Encoding" value="UTF-8"></param>
		<param name="MaxFileSize" value="2048KB"></param>
		<param name="MaxBackupIndex" value="10"></param>
		<param name="Threshold" value="warn"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %l - %m%n" />
		</layout>
	</appender>
	
	<!-- errorFile Appenders -->
	<appender name="errorFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/Logs/error.log"></param>
		<param name="Append" value="true"></param>
		<param name="Encoding" value="UTF-8"></param>
		<param name="MaxFileSize" value="2048KB"></param>
		<param name="MaxBackupIndex" value="10"></param>
		<param name="Threshold" value="error"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %l - %m%n" />
		</layout>
	</appender>
	
	<!-- C3P0 File Appenders -->
	<appender name="c3p0File" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/Logs/c3p0.log"></param>
		<param name="Append" value="true"></param>
		<param name="Encoding" value="UTF-8"></param>
		<param name="MaxFileSize" value="5120KB"></param>
		<param name="MaxBackupIndex" value="10"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %c{1}.%M: %L - %m%n" />
		</layout>
	</appender>
	
	
	<logger name="org.springframework" additivity="true">
		<level value="info" />
	</logger>
	
	
	<logger name="com.mchange.v2" additivity="true">
		<level value="info" />
	</logger>
	
	<logger name="org.apache.ibatis" additivity="true">
		<level value="debug" />
	</logger>
	
	<root>
		<priority value="debug" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
	
</log4j:configuration>