<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mfangsoft.zhuangjialong.app.mapservice.mapper.BaseAskhelpEntityMapper">
  <resultMap id="BaseResultMap" type="com.mfangsoft.zhuangjialong.app.mapservice.model.BaseAskhelpEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_type" jdbcType="INTEGER" property="user_type" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="region_code" jdbcType="VARCHAR" property="region_code" />
    <result column="lbs" jdbcType="VARCHAR" property="lbs" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_type, user_id, title, content, create_time, region_code, lbs, update_time, 
    state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_biz_askhelp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_biz_askhelp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mfangsoft.zhuangjialong.app.mapservice.model.BaseAskhelpEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_biz_askhelp (user_type, user_id, title, 
      content, create_time, region_code, 
      lbs, update_time, state
      )
    values (#{user_type,jdbcType=INTEGER}, #{user_id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{region_code,jdbcType=VARCHAR}, 
      #{lbs,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mfangsoft.zhuangjialong.app.mapservice.model.BaseAskhelpEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_biz_askhelp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_type != null">
        user_type,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="region_code != null">
        region_code,
      </if>
      <if test="lbs != null">
        lbs,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_type != null">
        #{user_type,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="region_code != null">
        #{region_code,jdbcType=VARCHAR},
      </if>
      <if test="lbs != null">
        #{lbs,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mfangsoft.zhuangjialong.app.mapservice.model.BaseAskhelpEntity">
    update t_biz_askhelp
    <set>
      <if test="user_type != null">
        user_type = #{user_type,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="region_code != null">
        region_code = #{region_code,jdbcType=VARCHAR},
      </if>
      <if test="lbs != null">
        lbs = #{lbs,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mfangsoft.zhuangjialong.app.mapservice.model.BaseAskhelpEntity">
    update t_biz_askhelp
    set user_type = #{user_type,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      region_code = #{region_code,jdbcType=VARCHAR},
      lbs = #{lbs,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>