<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.mfangsoft.zhuangjialong.integration.newproduct.mapper.BrandNewProductEntityMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<resultMap id="BaseResultMap"
		type="com.mfangsoft.zhuangjialong.integration.newproduct.model.BrandProductEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="product_title" jdbcType="VARCHAR" property="product_title" />
		<result column="product_sort" jdbcType="INTEGER" property="product_sort" />
		<result column="product_unit" jdbcType="VARCHAR" property="product_unit" />
		<result column="isnew" jdbcType="INTEGER" property="isnew" />
		<result column="new_time" jdbcType="DATE" property="new_time" />
		<result column="partner_id" jdbcType="BIGINT" property="partner_id" />
		<result column="sales_model" jdbcType="INTEGER" property="sales_model" />
		<result column="percent" jdbcType="DOUBLE" property="percent" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
		<result column="enterprise_id" jdbcType="BIGINT" property="enterprise_id" />
		<result column="brand_id" jdbcType="BIGINT" property="brand_id" />
		<result column="class_id" jdbcType="BIGINT" property="class_id" />

		<collection property="baseBrandProdImgEntities"
			resultMap="com.mfangsoft.zhuangjialong.integration.newproduct.mapper.BaseBrandProdImgEntityMapper.BaseResultMap"
			columnPrefix="img_"></collection>
		<collection property="baseBrandProdSeriesEntities" column="product_id"
			ofType="com.mfangsoft.zhuangjialong.integration.newproduct.model.BaseBrandProdSeriesEntity">
			<id column="prod_series_id" jdbcType="BIGINT" property="id" />
			<result column="series_id" jdbcType="BIGINT" property="series_id" />
			<result column="product_id" jdbcType="BIGINT" property="product_id" />
			<association property="brandSeriesEntity"
				javaType="com.mfangsoft.zhuangjialong.integration.series.model.BrandSeriesEntity">
				<result column="name" jdbcType="VARCHAR" property="name" />
			</association>
		</collection>
		<collection property="brandProdAttrValueEntities"
			resultMap="com.mfangsoft.zhuangjialong.integration.newproduct.mapper.BaseBrandProdAttrValueEntityMapper.BaseResultMap"
			columnPrefix="attrvalue_">
		</collection>
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.mfangsoft.zhuangjialong.integration.newproduct.model.BrandProductEntity">
		<result column="description" jdbcType="LONGVARCHAR" property="description" />
	</resultMap>

	<resultMap id="ResultMapOneSale"
		type="com.mfangsoft.zhuangjialong.integration.newproduct.model.BrandProductOneSaleModel">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="product_title" jdbcType="VARCHAR" property="product_title" />
		<result column="product_sort" jdbcType="INTEGER" property="product_sort" />
		<result column="product_unit" jdbcType="VARCHAR" property="product_unit" />
		<result column="isnew" jdbcType="INTEGER" property="isnew" />
		<result column="new_time" jdbcType="DATE" property="new_time" />
		<result column="partner_id" jdbcType="BIGINT" property="partner_id" />
		<result column="sales_model" jdbcType="INTEGER" property="sales_model" />
		<result column="percent" jdbcType="DOUBLE" property="percent" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
		<result column="enterprise_id" jdbcType="BIGINT" property="enterprise_id" />
		<result column="brand_id" jdbcType="BIGINT" property="brand_id" />
		<result column="class_id" jdbcType="BIGINT" property="class_id" />

		<association property="salesAttrEntity"
			resultMap="com.mfangsoft.zhuangjialong.integration.newproduct.mapper.BaseBrandProdSalesAttrEntityMapper.BaseResultMap"
			columnPrefix="sale_"></association>
	</resultMap>

	<resultMap id="ContionsResultMap"
		type="com.mfangsoft.zhuangjialong.app.product.model.SelectPropertiesModel">
		<result column="name" jdbcType="VARCHAR" property="name" />
		<collection property="conditions"
			ofType="com.mfangsoft.zhuangjialong.app.product.model.Salesinfo">
			<id column="VALUE" jdbcType="VARCHAR" property="value" />
			<result column="value_id" jdbcType="VARCHAR" property="value_id" />
		</collection>
	</resultMap>

	<resultMap id="BrandNewProductMap"
		type="com.mfangsoft.zhuangjialong.app.brand.model.BrandNewProduct">
		<result column="new_time" jdbcType="DATE" property="new_time" />
		<collection property="products"
			ofType="com.mfangsoft.zhuangjialong.app.product.model.ProductListModel">
			<result column="product_name" jdbcType="VARCHAR" property="product_name" />
			<result column="product_id" jdbcType="BIGINT" property="product_id" />
			<result column="sales_num" jdbcType="BIGINT" property="sale_num" />
			<result column="min_price" jdbcType="DOUBLE" property="min_price" />
			<result column="imgurl" jdbcType="VARCHAR" property="image_url" />
			<result column="new_time" jdbcType="TIMESTAMP" property="new_time" />
			<result column="min_prom_price" jdbcType="DOUBLE" property="min_prom_price" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		p.id, product_title, product_sort, product_unit, isnew, new_time,
		partner_id, sales_model,
		percent, state, create_time, enterprise_id, brand_id, p.class_id
	</sql>
	<sql id="Blob_Column_List">
		description
	</sql>
	
	<select id="selectAllStateForProductCore"  resultType="java.util.Map">
		select id as product_id,state as `set` from t_biz_brand_product
	</select>
	
	
		<select id="selectAllDescriptionForProductCore"  resultType="java.util.Map">
		SELECT description AS `set`,id  as product_id FROM t_biz_brand_product
	</select>

	<select id="selectAllAttrValueForProductCore"  resultType="java.util.Map">
	SELECT GROUP_CONCAT(pa.attr_value) AS `set`,p.id AS product_id FROM t_biz_brand_product p LEFT JOIN `t_biz_brand_prod_attrvalue` pa ON p.id = pa.`product_id` GROUP BY p.id
	</select>

	<select id="selectAllByPrimaryKey" parameterType="java.lang.Long"
		resultMap="ResultMapWithBLOBs" useCache="false">
		select

		<include refid="Base_Column_List" />
		,

		<include refid="Blob_Column_List" />
		,


		img.id as img_id,
		img.imgurl as img_imgurl, img.product_id as
		img_product_id,
		img.type as img_type,
		img.img_sort as img_img_sort,
		setemp.id as prod_series_id,
		setemp.series_id,
		setemp.product_id,
		setemp.name

		from t_biz_brand_product p left join t_biz_brand_prod_img img on
		img.product_id=p.id
		left join (select
		prod_series.id,prod_series.series_id,prod_series.product_id,series.name
		from t_biz_brand_prod_series prod_series,t_biz_brand_series series
		where prod_series.series_id=series.id) setemp on
		setemp.product_id=p.id
		where p.id=#{id}
	</select>
	<select id="selectAttrsByProductId" parameterType="java.lang.Long"
		resultMap="ContionsResultMap">
		SELECT NAME,VALUE FROM `v_region_attr`
		WHERE state = 1 and product_id = #{product_id,jdbcType=BIGINT}
	</select>
	<select id="selectPriceInfoByBrandId" parameterType="java.lang.Long" resultType="com.mfangsoft.zhuangjialong.app.product.model.ProductListModel">
		SELECT p.id as product_id, MIN(ps.price) as min_price

FROM t_biz_brand_product p 

LEFT JOIN t_biz_brand_prod_salesattr ps ON p.id = ps.product_id

WHERE p.brand_id = #{brand_id,jdbcType=BIGINT}

GROUP BY p.id
	</select>
	<select id="selectDescriptionByProductId" parameterType="java.lang.Long"
		resultType="java.lang.String">
		SELECT description from t_biz_brand_product WHERE id =
		#{product_id,jdbcType=BIGINT}
	</select>
	<select id="selectProductDetailsByProductId" parameterType="java.lang.Long"
		resultType="com.mfangsoft.zhuangjialong.app.product.model.ProductDetails">
		SELECT
		p.`id` AS product_id,
		p.`product_title` AS product_name,
		IF(ISNULL(sn.`sales_num`),0,sn.`sales_num`) AS sales_num,
		p.`brand_id`,
		b.`hot_line`,
		IF(MIN(ps.`price`) =
		MAX(ps.`price`),MIN(ps.`price`),CONCAT(MIN(ps.`price`),'-',MAX(ps.`price`)))
		AS price,
		sp.`price` AS min_promotion_price,
		sp.`person_product_num`,
		CASE p.`product_unit`
		WHEN '平米'
		THEN '㎡'
		WHEN '米'
		THEN 'm'
		ELSE p.`product_unit`
		END AS unit
		FROM
		`t_biz_brand_product` p
		LEFT JOIN `v_sales_num` sn
		ON p.`id` = sn.`product_id`
		LEFT JOIN `t_biz_brand` b
		ON p.`brand_id` = b.`id`
		LEFT JOIN `t_biz_brand_prod_salesattr` ps
		ON p.`id` = ps.`product_id`
		LEFT JOIN `v_simple_seckill_promotion` sp
		ON p.id = sp.`product_id`
		WHERE ps.`data_flag` != 'del' AND p.id = #{product_id,jdbcType=BIGINT}
	</select>
	<select id="selectProductSelectionForPage" parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		resultType="com.mfangsoft.zhuangjialong.app.product.model.ProductListModel" useCache="false">
		SELECT
		p.id AS product_id,
		p.`product_title` AS product_name,
		bm.`imgurl` AS image_url,
		IF(
		ISNULL(sn.`sales_num`),
		0,
		sn.`sales_num`
		)
		AS sale_num,
		IF(
		ISNULL(psp.`price`),
		MIN(ps.price),
		psp.`price`
		) AS
		min_prom_price
		FROM
		`t_biz_brand_product` p
		LEFT JOIN `v_sales_num` sn
		ON
		p.id = sn.product_id
		LEFT JOIN `t_biz_brand_prod_img` `bm`
		ON `p`.`id` =
		`bm`.`product_id`
		AND (
		`bm`.`img_sort` =
		(SELECT
		MIN(
		`t_biz_brand_prod_img`.`img_sort`
		)
		FROM
		`t_biz_brand_prod_img`
		WHERE
		`p`.`id` = `t_biz_brand_prod_img`.`product_id`
		AND
		`t_biz_brand_prod_img`.`type` = 1)
		)
		LEFT JOIN
		`t_biz_brand_prod_salesattr` ps
		ON p.`id` = ps.`product_id`
		LEFT JOIN
		`t_biz_brand_prod_attrvalue` pa
		ON p.id = pa.`product_id`
		LEFT JOIN
		`v_simple_seckill_promotion` psp
		ON p.`id` = psp.`product_id`
		LEFT JOIN
		`t_biz_partner` par
		ON p.`partner_id` = par.`id`
		WHERE
		p.`state` = 1
		AND par.`check_state` = 2
		AND `ps`.`data_flag` != 'del'
		<if test="param.searchcontent == ''">
			AND
			(
			pa.`attr_value` IN
			<foreach collection="arrModel.spaces" item="item" open="("
				separator="," close=")">
				${item}
			</foreach>
			OR pa.`attr_value` IN
			<foreach collection="arrModel.styles" item="item" open="("
				separator="," close=")">
				${item}
			</foreach>
			)
			AND p.`class_id` IN
			<foreach collection="arrModel.class_ids" item="item" open="("
				separator="," close=")">
				${item}
			</foreach>
		</if>
		<if test="param.searchcontent != ''">
			AND
			(
			<foreach collection="arrModel.product_name" item="item"
				separator="OR">
				p.`product_title` LIKE CONCAT('%','${item}','%')
			</foreach>
			)
		</if>
		<if test="param.region_code !=''">
			AND FIND_IN_SET(#{param.region_code,jdbcType=VARCHAR} ,par.region_id)!=0
		</if>
		GROUP BY p.`id`
		<if test="param.select_id == 1">
			ORDER BY p.`id` ASC
		</if>
		<if test="param.select_id == 2">
			ORDER BY sale_num DESC
		</if>
		<if test="param.select_id == 3">
			ORDER BY p.`new_time` DESC
		</if>
		<if test="param.select_id == 4">
			<if test="param.price_sort == 1">
				ORDER BY min_prom_price ASC
			</if>
			<if test="param.price_sort == 2">
				ORDER BY min_prom_price DESC
			</if>
		</if>
	</select>
	<select id="selectClassProductsForPage" parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		resultType="com.mfangsoft.zhuangjialong.app.product.model.ProductListModel" useCache="false">
		SELECT
		p.`product_id`,
		p.`product_name`,
		p.`imgurl` as image_url,
		p.`sales_num` as sale_num,
		p.`min_promotion_price` as min_prom_price
		FROM
		`v_product_new_core` p
		left join `t_biz_partner` par
		on
		p.citypartner_id = par.id
		<if test="param.sql !=null">
			${param.sql}
		</if>
		WHERE p.`state` = 1
		AND par.`check_state` = 2
		<if test="param.brand_id != null">
			and p.brand_id in
			<foreach collection="arrModel.brand_id" item="item"
				separator="," open="(" close=")">
				${item}
			</foreach>
		</if>
		AND p.`class_id` = #{param.class_id,jdbcType=BIGINT}
		AND
		FIND_IN_SET(#{param.region_code,jdbcType=VARCHAR}, p.region_code) != 0
		<if test="param.min_price != ''">
			and p.min_promotion_price &gt;= #{param.min_price,jdbcType=DOUBLE}
		</if>
		<if test="param.max_price != ''">
			and p.min_promotion_price &lt;= #{param.max_price,jdbcType=DOUBLE}
		</if>
		GROUP BY p.`product_id`
		<if test="param.select_id == 1">
			ORDER BY p.`product_id` asc
		</if>
		<if test="param.select_id == 2">
			ORDER BY p.`sales_num` desc
		</if>
		<if test="param.select_id == 3">
			ORDER BY p.new_time desc
		</if>
		<if test="param.select_id == 4">
			<if test="param.price_sort == 1">
				ORDER BY p.min_promotion_price asc
			</if>
			<if test="param.price_sort == 2">
				ORDER BY p.min_promotion_price desc
			</if>
		</if>
	</select>
	<select id="selectPromotionTypesByProductId" parameterType="java.lang.Long"
		resultType="java.lang.Integer">

		SELECT promotion_type FROM `v_promotion_types` WHERE product_id =
		#{product_id,jdbcType=BIGINT}
	</select>
	<select id="selectClassIdById" parameterType="java.lang.Long"
		resultType="java.lang.Long">
		SELECT e.class_id
		FROM t_biz_enterprise e
		LEFT JOIN
		t_biz_brand b ON e.id = b.enterprise_id
		LEFT JOIN t_biz_brand_product p
		ON b.id = p.brand_id
		WHERE p.id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectSecKillPriceByProductId" parameterType="java.lang.Long"
		resultType="java.lang.Double">
		SELECT price FROM v_promotion_product_by_regioncode WHERE
		product_id
		=#{product_id,jdbcType=BIGINT}
	</select>
	<select id="selectAttrsByRegoinCodeClassId"
		parameterType="com.mfangsoft.zhuangjialong.app.buildClass.model.BuildClass"
		resultMap="ContionsResultMap">
		SELECT NAME,value_id,VALUE FROM `v_region_attr`
		WHERE
		state = 1 and
		class_id = #{class_id,jdbcType=BIGINT}
		AND
		FIND_IN_SET(#{region_code,jdbcType=VARCHAR},region_id)!=0;
	</select>
	<select id="selectSaleNumByProductId" parameterType="java.lang.Long"
		resultType="java.lang.Long">
SELECT IF(ISNULL(sales_num),0,sales_num) sales_num FROM `t_biz_sales_num` WHERE
		product_id = #{product_id,jdbcType=BIGINT};
	</select>

	<select id="selectProductIdByModel" parameterType="java.util.Map"
		resultType="java.lang.Long">
		SELECT
		ps.product_id
		FROM
		t_biz_brand_prod_salesattr ps
		LEFT
		JOIN t_biz_brand_product p ON ps.product_id = p.id
		LEFT JOIN
		t_biz_build_enterprise be ON p.build_brand_id = be.id
		LEFT JOIN
		t_biz_partner partner ON p.partner_id = partner.id
		WHERE ps.model
		=#{model,jdbcType=VARCHAR}
		AND be.`name` =
		#{brand_name,jdbcType=VARCHAR}
		AND
		FIND_IN_SET(#{region_code,jdbcType=VARCHAR}, partner.region_id) != 0
		AND ps.data_flag != 'del'
	</select>
	<select id="selectNewProductByBrandIdForPage" parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		resultMap="BrandNewProductMap" useCache="false">
		SELECT
		p.id AS product_id,
		p.`product_title` AS product_name,
		bm.`imgurl` ,
		IF(ISNULL(sn.`sales_num`),0,sn.`sales_num`) AS sales_num,
		MIN(`ps`.`price`) as min_price,
		IF(ISNULL(`pr`.`price`),MIN(`ps`.`price`),`pr`.`price`) AS min_prom_price,
		p.`new_time`
		FROM t_biz_brand_product p
		LEFT JOIN t_biz_brand_prod_img bm
		ON p.id = bm.product_id
		AND bm.img_sort =
		(SELECT
		MIN(t_biz_brand_prod_img.img_sort)
		FROM
		t_biz_brand_prod_img
		WHERE t_biz_brand_prod_img.product_id =p.id
		AND t_biz_brand_prod_img.type = 1)
		LEFT JOIN `v_sales_num` sn
		ON p.id = sn.`product_id`
		LEFT JOIN t_biz_brand_prod_salesattr ps
		ON p.id = ps.product_id
		LEFT JOIN v_simple_seckill_promotion pr
		ON p.id = pr.product_id
		LEFT JOIN `t_biz_partner` par
		ON p.`partner_id` = par.`id`
		WHERE ps.data_flag != 'del'
		AND p.`state` = 1
		AND p.`new_time` IS NOT NULL
		AND par.`check_state` = 2
		AND p.`brand_id` = #{param.brand_id,jdbcType=BIGINT}
		GROUP BY p.id
		ORDER BY p.`new_time` DESC
	</select>
	<select id="selectNewMainProductsForPage" parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		resultType="com.mfangsoft.zhuangjialong.app.product.model.ProductListModel" useCache="false">
		SELECT
		p.id AS product_id,
		p.`product_title` AS product_name,
		bm.`imgurl` AS image_url,
		IF(
		ISNULL(sn.`sales_num`),
		0,
		sn.`sales_num`
		)
		AS sale_num,
		IF(
		ISNULL(psp.`price`),
		MIN(ps.price),
		psp.`price`
		) AS
		min_prom_price
		FROM
		`t_biz_brand_product` p
		LEFT JOIN `v_sales_num` sn
		ON
		p.id = sn.product_id
		LEFT JOIN `t_biz_brand_prod_img` `bm`
		ON `p`.`id` =
		`bm`.`product_id`
		AND (
		`bm`.`img_sort` =
		(SELECT
		MIN(
		`t_biz_brand_prod_img`.`img_sort`
		)
		FROM
		`t_biz_brand_prod_img`
		WHERE
		`p`.`id` = `t_biz_brand_prod_img`.`product_id`
		AND
		`t_biz_brand_prod_img`.`type` = 1)
		)
		LEFT JOIN
		`t_biz_brand_prod_salesattr` ps
		ON p.`id` = ps.`product_id`
		LEFT JOIN
		`t_biz_brand_prod_attrvalue` pa
		ON p.id = pa.`product_id`
		LEFT JOIN
		`t_biz_partner` par
		ON p.`partner_id` = par.`id`
		LEFT JOIN
		`v_simple_seckill_promotion` psp
		ON p.`id` = psp.`product_id`
		WHERE
		p.`state` = 1
		AND par.`check_state` = 2
		and `ps`.`data_flag` != 'del'
		and
		(
		pa.`attr_value` IN
		<foreach collection="arrModel.spaces" item="item" open="("
			separator="," close=")">
			${item}
		</foreach>
		OR pa.`attr_value` IN
		<foreach collection="arrModel.styles" item="item" open="("
			separator="," close=")">
			${item}
		</foreach>
		)
		AND p.`class_id` IN
		<foreach collection="arrModel.class_ids" item="item" open="("
			separator="," close=")">
			${item}
		</foreach>
		AND FIND_IN_SET(#{param.region_code,jdbcType=VARCHAR}, par.region_id)
		!= 0
		GROUP BY p.`id`
		ORDER BY p.`id`
	</select>

	<select id="selectDefaultProductsForPage" parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		resultType="com.mfangsoft.zhuangjialong.app.product.model.ProductListModel" useCache="false">
		SELECT
		p.id AS product_id,
		p.`product_title` AS product_name,
		bm.`imgurl` AS image_url,
		IF(
		ISNULL(sn.`sales_num`),
		0,
		sn.`sales_num`
		)
		AS sale_num,
		IF(
		ISNULL(psp.`price`),
		MIN(ps.price),
		psp.`price`
		) AS
		min_prom_price
		FROM
		`t_biz_brand_product` p
		LEFT JOIN `v_sales_num` sn
		ON
		p.id = sn.product_id
		LEFT JOIN `t_biz_brand_prod_img` `bm`
		ON `p`.`id` =
		`bm`.`product_id`
		AND (
		`bm`.`img_sort` =
		(SELECT
		MIN(
		`t_biz_brand_prod_img`.`img_sort`
		)
		FROM
		`t_biz_brand_prod_img`
		WHERE
		`p`.`id` = `t_biz_brand_prod_img`.`product_id`
		AND
		`t_biz_brand_prod_img`.`type` = 1)
		)
		LEFT JOIN
		`t_biz_brand_prod_salesattr` ps
		ON p.`id` = ps.`product_id`
		LEFT JOIN
		`t_biz_brand_prod_attrvalue` pa
		ON p.id = pa.`product_id`
		LEFT JOIN
		`t_biz_partner` par
		ON p.`partner_id` = par.`id`
		LEFT JOIN `v_simple_seckill_promotion` psp
		ON p.`id` = psp.`product_id`
		WHERE p.`state` = 1
		AND par.`check_state` = 2
		AND `ps`.`data_flag` != 'del'
		AND
		(
		pa.`attr_value` IN
		<foreach collection="arrModel.spaces" item="item" open="("
			separator="," close=")">
			${item}
		</foreach>
		OR pa.`attr_value` IN
		<foreach collection="arrModel.styles" item="item" open="("
			separator="," close=")">
			${item}
		</foreach>
		)
		AND p.`class_id` = #{param.class_id,jdbcType=BIGINT}

		AND FIND_IN_SET(#{param.region_code,jdbcType=VARCHAR}, par.region_id) !=
		0
		GROUP BY p.`id`
		ORDER BY p.`id`
	</select>
	<select id="selectBrandProductForPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		useCache="false">

		select t.product_id as id,t.isnew,
		t.state,t.product_unit,t.sales_model,t.product_title,
		img.imgurl, t.product_space as space,t.product_style as style,t.product_madin as madin,
		
		t.product_max_price as max_price,
		t.product_min_price as min_price,

		if(pt.product_id is null,0,1) as is_editor, vs.class_name, vs.series_name
		from t_biz_brand_product_query t
		left join v_prod_min_img img on img.product_id = t.product_id
		left join v_promotion_types pt on pt.product_id=t.product_id
		left join v_prod_cl_se vs on vs.product_id = t.product_id

		where 1=1
		<if test="param.product_title!=null and param.product_title!=''">


			and t.product_title like CONCAT('%', #{param.product_title},'%')

		</if>

		<if test="param.state!=null and param.state!=''">

			and t.state=#{param.state}
		</if>

		<if test="param.class_id!=null and param.class_id!=''">

			and vs.class_id=#{param.class_id}

		</if>

		<if test="param.isNew!=null and param.isNew!=''">

			and t.isnew=#{param.isNew}

		</if>

		<if test="param.series_id!=null and param.series_id!=''">

			and vs.series_id=#{param.series_id}

		</if>

		<if test="param.brand_id!=null and param.brand_id!=''">

			and t.brand_id=#{param.brand_id}

		</if>
		<if test="param.build_brand_id!=null and param.build_brand_id!=''">

			and t.build_brand_id =#{param.build_brand_id}

		</if>
		<if test="param.class_parent_id!=null and param.class_parent_id!=''">

			and t.class_id=#{param.class_parent_id}
		</if>
		<if test="param.partner_id!=null and param.partner_id!=''">

			and t.partner_id=#{param.partner_id}
		</if>
		group by t.id order by t.id desc


	</select>

	<select id="getBrandDevProductListForPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		useCache="false">
		SELECT p.sales_model, p.id,p.product_title,
		vimg.imgurl,
		sell.sel_count,
		col.col_count,
		ev.quality,
		ev.service,
		pv.name as pv_name,
		pv.principal,
		city.name as city,
		brand.name as brand_name,
		ps.max_price,
		ps.min_price,
		v.materials_id, v.b_ent_id

		FROM t_biz_brand_product p
		LEFT JOIN v_prod_min_img vimg ON p.id = vimg.product_id
		LEFT JOIN
		(SELECT prode.product_id, count(1) AS sel_count
		FROM t_biz_order_product prode,
		v_orderstate_max_time omax,
		t_biz_order_state os
		WHERE prode.order_id = omax.order_id
		AND omax.order_state_code = os.order_code
		AND (os.order_code = 3000 or os.order_code=6000)
		GROUP BY prode.product_id) sell
		ON sell.product_id = p.id
		LEFT JOIN (SELECT t.product_id, count(1) AS col_count
		FROM t_app_customer_collection t
		GROUP BY t.product_id) col
		ON col.product_id = p.id
		LEFT JOIN
		(SELECT ROUND(SUM(e.quality) / COUNT(e.quality)) quality,
		ROUND(SUM(e.service) / COUNT(e.service)) service,
		e.product_id
		FROM t_biz_evaluation e
		GROUP BY e.product_id) ev
		ON ev.product_id = p.id

		left join (select pa.id,re.name,pa.principal from t_biz_partner pa, region
		re where re.code= left(pa.region_id,6) ) pv on pv.id=p.partner_id


		left join (select pa.id,re.name from t_biz_partner pa, region re where
		re.code= right(left(pa.region_id,13),6) ) city on city.id=p.partner_id

		left join (select b.id,be.name from t_biz_brand b,
		t_biz_build_enterprise be where be.id=b.enterprise_id) brand on
		brand.id=p.brand_id

		left join (select ws_min.product_id, ws_max.max_price, ws_min.min_price
		from (SELECT ws.product_id, ws.price AS max_price
		FROM t_biz_brand_prod_salesattr ws
		WHERE ws.price = (SELECT max(wsi.price)
		FROM t_biz_brand_prod_salesattr wsi
		WHERE wsi.product_id = ws.product_id and wsi.data_flag!='del'))
		ws_max,
		(SELECT ws.product_id, ws.price AS min_price
		FROM t_biz_brand_prod_salesattr ws
		WHERE ws.price = (SELECT min(wsi.price)
		FROM t_biz_brand_prod_salesattr wsi
		WHERE wsi.product_id = ws.product_id and wsi.data_flag!='del' ))
		ws_min where ws_max.product_id = ws_min.product_id) ps on ps.product_id=p.id


		left join v_build_cl_m_e v on p.class_id= v.class_id and
		p.build_brand_id=v.b_ent_id

		where 1=1

		<if test="param.class_id!=null and param.class_id!=''">

			and p.class_id =#{param.class_id}

		</if>
		<if test="param.materials_id!=null and param.materials_id!=''">

			and v.materials_id=#{param.materials_id}

		</if>
		<if test="param.b_ent_id!=null and param.b_ent_id!=''">

			and v.b_ent_id=#{param.b_ent_id}

		</if>

		<if test="param.partner!=null and param.partner!=''">

			and pv.principal like CONCAT('%', #{param.partner},'%')
		</if>

		<if test="param.product_title!=null and param.product_title!=''">

			and p.product_title like CONCAT('%', #{param.product_title},'%')
		</if>

		<if test="param.sales_model!=null and param.sales_model!=''">

			and p.sales_model =#{param.sales_model}

		</if>
		<if test="param.state!=null and param.state!=''">

			and p.state =#{param.state}

		</if>

		<if test="param.min_quality!=null and param.min_quality!=''">

			and ev.quality <![CDATA[>=#{param.min_quality}]]>


		</if>
		<if test="param.max_quality!=null and param.max_quality!=''">

			and ev.quality <![CDATA[<=#{param.max_quality}]]>


		</if>
		<if test="param.min_service!=null and param.min_service!='' ">

			and ev.service <![CDATA[>=#{param.min_service}]]>


		</if>


		<if test="param.max_service!=null and param.max_service!=''">

			and ev.service <![CDATA[<=#{param.max_service}]]>


		</if>

		group by p.id
		<if test="param.sort!=null">
			order by
			<foreach collection="param.sort" index="index" item="sort"
				separator=",">

				${sort.field} ${sort.dir}



			</foreach>

		</if>
		<if test="param.sort==null">

			order by p.id desc
		</if>
	</select>

	<select id="selectProductOneSaleInfo" resultMap="ResultMapOneSale">
		SELECT p.id, product_title, product_sort, product_unit, isnew, new_time,
		partner_id, sales_model,
		percent, state, create_time, enterprise_id, brand_id, p.class_id ,
		s.id as sale_id,s.color AS sale_color , s.standard AS sale_standard, s.model AS sale_model
		,s.set_meal AS sale_set_meal , s.price AS sale_price , s.stock AS
		sale_stock

		FROM t_biz_brand_product p
		LEFT JOIN t_biz_brand_prod_salesattr s ON p.id = s.product_id
		WHERE p.id = #{product_id} AND s.id = #{sale_id}
	</select>

	<update id="updateBrandProduct" parameterType="java.util.Map">

		update t_biz_brand_product set state=#{state} where id=#{id}

	</update>

	<select id="selectViewbyproduct" parameterType="java.lang.Long"
		resultType="java.util.Map" useCache="false">

		select temp.ca_name, temp.attr_values,temp.product_id, temp.class_id from
		(SELECT ca.id, ca.name as ca_name, pat.product_id, pat.class_id,
		ca.name,pat.attr_value, GROUP_CONCAT(cav.value) as attr_values
		FROM t_biz_class_attr ca, t_biz_brand_prod_attrvalue pat,
		t_biz_class_attr_value cav
		WHERE pat.attr_id =ca.id and pat.attr_value=cav.id

		group by pat.product_id, ca.id) temp where temp.product_id=#{product_id}
	</select>




	<select id="selectproductAttrValueName"
		resultType="com.mfangsoft.zhuangjialong.integration.newproduct.model.BrandProdAttrValueName"
		useCache="false">


		select t_space.space, t_style.style,t_madin.madin,t_space.product_id from
		(select temp.space,temp.product_id, temp.class_id from (SELECT ca.id,
		pat.product_id, pat.class_id, ca.name,pat.attr_value,
		GROUP_CONCAT(cav.value) as space
		FROM t_biz_class_attr ca, t_biz_brand_prod_attrvalue pat,
		t_biz_class_attr_value cav
		WHERE pat.attr_id =ca.id and pat.attr_value=cav.id group by pat.product_id,
		ca.id) temp where temp.id=1) t_space,



		(select temp.style,temp.product_id, temp.class_id from (SELECT ca.id,
		pat.product_id, pat.class_id, ca.name,pat.attr_value,
		GROUP_CONCAT(cav.value) as style
		FROM t_biz_class_attr ca, t_biz_brand_prod_attrvalue pat,
		t_biz_class_attr_value cav
		WHERE pat.attr_id =ca.id and pat.attr_value=cav.id

		group by pat.product_id, ca.id) temp where temp.id=2) t_style,




		(select temp.madin,temp.product_id, temp.class_id from (SELECT ca.id,
		pat.product_id, pat.class_id, ca.name,pat.attr_value,
		GROUP_CONCAT(cav.value) as madin
		FROM t_biz_class_attr ca, t_biz_brand_prod_attrvalue pat,
		t_biz_class_attr_value cav
		WHERE pat.attr_id =ca.id and pat.attr_value=cav.id

		group by pat.product_id, ca.id) temp where temp.id=3) t_madin

		where t_space.product_id=t_style.product_id and
		t_madin.product_id=t_style.product_id

	</select>

	<select id="selectproductAttrValueNameByProductId"
		resultType="com.mfangsoft.zhuangjialong.integration.newproduct.model.BrandProdAttrValueName"
		parameterType="java.lang.Long" useCache="false">


		select t_space.space, t_style.style,t_madin.madin,t_space.product_id from
		(select temp.space,temp.product_id, temp.class_id from (SELECT ca.id,
		pat.product_id, pat.class_id, ca.name,pat.attr_value,
		GROUP_CONCAT(cav.value) as space
		FROM t_biz_class_attr ca, t_biz_brand_prod_attrvalue pat,
		t_biz_class_attr_value cav
		WHERE pat.attr_id =ca.id and pat.attr_value=cav.id group by pat.product_id,
		ca.id) temp where temp.id=1) t_space,



		(select temp.style,temp.product_id, temp.class_id from (SELECT ca.id,
		pat.product_id, pat.class_id, ca.name,pat.attr_value,
		GROUP_CONCAT(cav.value) as style
		FROM t_biz_class_attr ca, t_biz_brand_prod_attrvalue pat,
		t_biz_class_attr_value cav
		WHERE pat.attr_id =ca.id and pat.attr_value=cav.id

		group by pat.product_id, ca.id) temp where temp.id=2) t_style,




		(select temp.madin,temp.product_id, temp.class_id from (SELECT ca.id,
		pat.product_id, pat.class_id, ca.name,pat.attr_value,
		GROUP_CONCAT(cav.value) as madin
		FROM t_biz_class_attr ca, t_biz_brand_prod_attrvalue pat,
		t_biz_class_attr_value cav
		WHERE pat.attr_id =ca.id and pat.attr_value=cav.id

		group by pat.product_id, ca.id) temp where temp.id=3) t_madin

		where t_space.product_id=t_style.product_id and
		t_madin.product_id=t_style.product_id and t_style.product_id=#{id}

	</select>

	<select id="selectAllBrandProduct" parameterType="java.util.Map"
		resultType="java.util.Map">

		select id ,product_title from t_biz_brand_product where 1=1

		<if test="product_title!=null and product_title!=''">

			and product_title like CONCAT('%', #{product_title},'%')
		</if>

	</select>

	<select id="selectAllEntProduct" parameterType="java.util.Map"
		resultType="java.util.Map">

		select id ,product_title from t_biz_ent_product where 1=1

		<if test="product_title!=null and product_title!=''">

			and product_title like CONCAT('%', #{product_title},'%')
		</if>

	</select>

	<delete id="deleteProdAttrvalue" parameterType="java.lang.Long">
		delete from t_biz_brand_prod_attrvalue where product_id=#{product_id}

	</delete>

	<delete id="deleteProdImage" parameterType="java.lang.Long">
		delete from t_biz_brand_prod_img where product_id=#{product_id}

	</delete>

	<delete id="deleteProdsalesattr" parameterType="java.lang.Long">
		delete from t_biz_brand_prod_salesattr where product_id=#{product_id}

	</delete>

	<delete id="deleteProdSeries" parameterType="java.lang.Long">
		delete from t_biz_brand_prod_series where product_id=#{product_id}

	</delete>



	<delete id="deleteEntProdAttrvalue" parameterType="java.lang.Long">
		delete from t_biz_ent_prod_attrvalue where product_id=#{product_id}

	</delete>

	<delete id="deleteEntProdImage" parameterType="java.lang.Long">
		delete from t_biz_ent_prod_img where product_id=#{product_id}

	</delete>

	<delete id="deleteEntProdsalesattr" parameterType="java.lang.Long">
		delete from t_biz_ent_prod_salesattr where product_id=#{product_id}

	</delete>

	<delete id="deleteEntProdSeries" parameterType="java.lang.Long">
		delete from t_biz_ent_prod_series where product_id=#{product_id}

	</delete>

	<delete id="deleteEntProduct" parameterType="java.lang.Long">
		delete from t_biz_ent_product where id=#{product_id}

	</delete>



	<select id="selectPromotionProductByProductId" parameterType="java.util.List"
		resultType="java.lang.Long">

		select product_id from v_promotion_types where product_id in (

		<foreach collection="list" index="index" item="item"
			separator=",">

			#{item}

		</foreach>
		)

	</select>


	<select id="selectProductForBannerPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		useCache="false">


		SELECT t.id, t.sales_model, t.product_title, max_price.max_price,
		min_price.min_price, img.imgurl, bc.name AS class_name,
		be.name AS brand_name, par.principal
		FROM t_biz_brand_product t
		LEFT JOIN v_prod_min_img img ON img.product_id = t.id
		LEFT JOIN (SELECT ws.product_id, ws.price AS max_price
		FROM t_biz_brand_prod_salesattr ws
		WHERE ws.price = (SELECT max(wsi.price)
		FROM t_biz_brand_prod_salesattr wsi
		WHERE wsi.product_id = ws.product_id AND wsi.data_flag != 'del')) max_price
		ON max_price.product_id = t.id
		LEFT JOIN (SELECT ws.product_id, ws.price AS min_price
		FROM t_biz_brand_prod_salesattr ws
		WHERE ws.price = (SELECT min(wsi.price)
		FROM t_biz_brand_prod_salesattr wsi
		WHERE wsi.product_id = ws.product_id AND wsi.data_flag != 'del')) min_price
		ON min_price.product_id = t.id
		LEFT JOIN t_biz_build_class bc ON bc.id = t.class_id
		LEFT JOIN t_biz_build_materials bm on bm.id =bc.build_Id
		LEFT JOIN t_biz_build_enterprise be ON be.id = t.build_brand_id
		LEFT JOIN t_biz_partner par ON par.id = t.partner_id
		where 1=1

		<if test="param.class_id!=null and param.class_id!=''">

			and t.class_id =#{param.class_id}
		</if>

		<if test="param.materials_id!=null and param.materials_id!=''">

			and bm.id=#{param.materials_id}

		</if>

		<if test="param.b_ent_id!=null and param.b_ent_id!=''">

			and be.id=#{param.b_ent_id}

		</if>

		<if test="param.brand_id!=null and param.brand_id!=''">

			and t.build_brand_id =#{param.brand_id}
		</if>
		<if test="param.partner_name!=null and param.partner_name!=''">

			and par.principal like CONCAT('%', #{param.partner_name},'%')

		</if>
		<if test="param.sales_model!=null and param.sales_model!=''">

			and t.sales_model = #{param.sales_model}

		</if>

		<if test="param.product_title!=null and param.product_title!=''">

			and t.product_title like CONCAT('%', #{param.product_title},'%')

		</if>
		<if test="param.partner_id!=null and param.partner_id!=''">

			and t.partner_id = #{param.partner_id}

		</if>

		<if test="param.brandId!=null and param.brandId!=''">

			and t.brand_id = #{param.brandId}

		</if>

		group by t.id order by t.id desc
	</select>

	<select id="selectBrandProductByBrandId" parameterType="java.lang.Long"
		resultType="java.lang.Long">

		select id from t_biz_brand_product where 1=1

		<if test="brand_id!=null and brand_id!=''">
			and brand_id=#{brand_id}
		</if>

		<if test="class_id=null and class_id!=''">
			and class_id=#{class_id}
		</if>
	</select>


	<select id="selectBrandProductByTmpflag" parameterType="java.util.Map"
		resultType="java.lang.Long" useCache="false">

		select id from t_biz_brand_product where tmpflag=#{tmpflag} and
		brand_id=#{brand_id}

	</select>


	<select id="getBrandHotClassifyProductPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page" useCache="false">

		select t.*, sell.sel_count from (select pr.product_name,pr.id,
		pr.service,pr.quality,pr.state,s.class_name,s.series_name,null as
		max_price, null as min_price,pimg.imgurl from t_biz_brand_product pr ,
		v_prod_min_img pimg, v_prod_cl_se s,

		t_biz_hot_classify_product bmp

		where pr.id = pimg.product_id and pr.id = s.product_id and bmp.product_id
		=pr.id) t
		left join (
		select prode.product_id, count(1) as sel_count from t_biz_order_product
		prode, v_orderstate_max_time omax, t_biz_order_state os

		where prode.order_id = omax.order_id and omax.order_state_code=
		os.order_code and os.order_code=3000 group
		by prode.product_id) sell on sell.product_id = t.id



	</select>

	<select id="selectNameImgByPrimaryKey" parameterType="java.lang.Long"
		resultType="com.mfangsoft.zhuangjialong.app.order.model.OrderProduct">
		SELECT p.id as product_id,i.imgurl as
		image_url,p.product_title as product_name FROM v_prod_min_img
		i,t_biz_brand_product p WHERE p.id= #{id,jdbcType=BIGINT} AND
		i.product_id = p.id
	</select>

	<select id="getBrandPaoductBrandMainPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page"  useCache="false">
		SELECT
		p.id,p.product_title product_name,GROUP_CONCAT(c.`name`) classify,GROUP_CONCAT(s.`name`)
		series,i.imgurl
		FROM t_biz_brand_product p
		LEFT JOIN
		t_biz_brand_prod_series ps ON p.id = ps.product_id
		LEFT JOIN
		t_biz_brand_series s ON ps.series_id = s.id
		LEFT JOIN
		t_biz_brand_classify c ON s.classify_id = c.id
		LEFT JOIN
		t_biz_brand_prod_img i ON p.id = i.product_id AND i.img_sort = (
		SELECT min(t_biz_brand_prod_img.img_sort) FROM t_biz_brand_prod_img
		WHERE p.id = t_biz_brand_prod_img.product_id AND
		t_biz_brand_prod_img.type = 1
		)
		<where>
			<if test="param.brand_id != null">
				p.brand_id = ${param.brand_id}
				AND p.id NOT IN (
				SELECT product_id FROM t_biz_brand_main_product WHERE brand_id =
				${param.brand_id}
				)
			</if>
			<if test="param.product_name != null and param.product_name !=''">
				AND p.product_title like
				CONCAT('%',#{param.product_name,jdbcType=VARCHAR},'%')
			</if>
			<if test="param.classify_id != null and param.classify_id != ''">
				AND c.id = ${param.classify_id}
			</if>
			<if test="param.series_id != null and param.series_id != ''">
				AND s.id = ${param.series_id}
			</if>
		</where>
		GROUP BY p.id
	</select>
	<select id="getBrandPaoductBrandMainListPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page" useCache="false">

		select t.*, sell.sel_count from (select pr.product_name,pr.id,
		pr.service,pr.quality,pr.state,s.class_name,s.series_name,null as
		max_price, null as min_price,pimg.imgurl from t_biz_brand_product pr ,
		v_prod_min_img pimg, v_prod_cl_se s,

		t_biz_brand_main_product bmp

		where pr.id = pimg.product_id and pr.id = s.product_id and bmp.product_id
		=pr.id) t
		left join (
		select prode.product_id, count(1) as sel_count from t_biz_order_product
		prode, v_orderstate_max_time omax, t_biz_order_state os

		where prode.order_id = omax.order_id and omax.order_state_code=
		os.order_code and os.order_code=3000 group
		by prode.product_id) sell on sell.product_id = t.id



	</select>


	<select id="queryProductForPromotionForPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page" useCache="false">


		select prod.id,prod.product_title,sel.price,sel.stock,sel.model ,

		p.principal,p.phone_num,img.imgurl

		from t_biz_brand_product prod,
		t_biz_brand_prod_salesattr sel,
		v_prod_min_img img,
		t_biz_partner p, t_biz_enterprise e, t_biz_brand b
		where
		prod.id = sel.product_id and prod.id =img.product_id and p.enterprise_id
		=e.id
		and b.id=prod.brand_id and b.citypartner_id =p.id
	</select>


	<select id="selectUnionByBrands" resultType="java.lang.Long"
		parameterType="java.lang.String">

		select t.id from t_biz_brand_product t where t.brand_id
		in(${brands})

	</select>
	
	<select id="selectZhekouProductForPage" resultType="java.util.Map"
		parameterType="com.mfangsoft.zhuangjialong.common.model.Page"
		useCache="false">

		select zp.id, t.product_id,t.isnew,
		t.state,t.product_unit,t.sales_model,t.product_title,
		img.imgurl, t.product_space as space,t.product_style as style,t.product_madin as madin,
		
		t.product_max_price as max_price,
		t.product_min_price as min_price,

		if(pt.product_id is null,0,1) as is_editor, vs.class_name, vs.series_name
		from t_biz_promotion_zhekou_product zp
		left join t_biz_brand_product_query t on t.product_id = zp.product_id
		left join v_prod_min_img img on img.product_id = t.product_id
		left join v_promotion_types pt on pt.product_id=t.product_id
		left join v_prod_cl_se vs on vs.product_id = t.product_id

		where zp.zhekou_id = ${param.zhekou_id}
		group by zp.product_id

	</select>
</mapper>