<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.mfangsoft.zhuangjialong.app.coupons.mapper.CustomerCouponsEntityMapper">

	<sql id="Base_Column_List">
		id, coupons_id, customer_id, isused, create_time, use_time
	</sql>

	<select id="selectCustomerWhetherGainCoupons"
		parameterType="com.mfangsoft.zhuangjialong.app.coupons.model.BrandCouponsModel"
		resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM
		`t_biz_customer_coupons`
		WHERE coupons_id =#{coupons_id,jdbcType=BIGINT}
		AND customer_id =#{customer_id,jdbcType=BIGINT}
	</select>

	<select id="selectCouponsCount" resultType="java.lang.Integer">
		SELECT IFNULL(COUNT(*),0) FROM t_biz_customer_coupons
		 WHERE coupons_id =#{coupons_id,jdbcType=BIGINT}
	</select>
	
	<insert id="addCoupons" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.mfangsoft.zhuangjialong.app.coupons.model.BrandCouponsModel">
		insert into t_biz_customer_coupons ( coupons_id, customer_id,
		isused, create_time,convert_code
		)
		values (#{coupons_id,jdbcType=BIGINT}, #{customer_id,jdbcType=BIGINT},
		false, now(),#{convert_code,jdbcType=VARCHAR}
		)
	</insert>

</mapper>