<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mfangsoft.zhuangjialong.app.main.mapper.MainBannerEntityMapper">
  <resultMap id="BaseResultMap" type="com.mfangsoft.zhuangjialong.app.main.model.MainBannerEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="image_url" jdbcType="VARCHAR" property="image_url" />
    <result column="data_param" jdbcType="VARCHAR" property="data_param" />
    <result column="image_link" jdbcType="VARCHAR" property="image_link" />
    <result column="link_type" jdbcType="INTEGER" property="link_type" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
  </resultMap>
  <sql id="Base_Column_List">
    id, image_url, data_param, image_link, link_type, sort,user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_biz_mainbanner
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAd" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
   id, image_url, data_param, image_link,link_type
    from t_biz_mainbanner
    where id = 6
  </select>
    <select id="selectMainBannersForKFZ"  resultMap="BaseResultMap">
  SELECT m.`id`,m.`image_url`,m.`data_param`,m.`link_type`,m.`image_link` FROM
  `t_biz_mainbanner` m 
  LEFT JOIN `t_sys_user` u 
    ON m.`user_id` = u.`id` 
WHERE u.`user_type` = 1 
  AND m.`id` != 6 
   ORDER BY m.`sort`
  </select>
  
  <select id="selectMainBanners" parameterType="java.lang.String" resultMap="BaseResultMap">
  SELECT m.`id`,m.`image_url`,m.`data_param`,m.`link_type`,m.`image_link` FROM `t_biz_partner` p 
LEFT JOIN `t_biz_mainbanner` m
ON p.`sys_user_id` = m.`user_id`
WHERE FIND_IN_SET(#{region_code,jdbcType=VARCHAR},region_id)!=0 AND m.`id` != 6 AND p.`check_state` = 2  ORDER BY m.`sort`
  </select>
  
   <select id="selectMainBannersList" parameterType="java.lang.Long" resultMap="BaseResultMap">
   	select   <include refid="Base_Column_List" /> from t_biz_mainbanner where id !=6 order by sort
  </select>
   <select id="selectAdminMainBannersList" parameterType="java.util.Map" resultMap="BaseResultMap">
   	select  t.id, image_url, data_param, image_link, link_type, sort,user_id  from t_biz_mainbanner t
   	
   	left join t_sys_user u on u.id=t.user_id
   	
   	where t.id !=6 
   	 <if test="user_id!=null">
   	 
   	  and t.user_id=#{user_id}
   	 </if>
   	<if test="user_type!=null">
   	
   	 and u.user_type = #{user_type}
   	</if>
   	
   	 order by sort
  </select>
     <select id="selectMainBannersByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
   	select    id, image_url, data_param, image_link,link_type from t_biz_mainbanner where id !=6 and  user_id=#{user_id,jdbcType=BIGINT} order by sort
  </select>
   <select id="selectMainBanneradList" parameterType="java.lang.Long" resultMap="BaseResultMap">
   	select  <include refid="Base_Column_List" /> from t_biz_mainbanner where id =6  order by sort
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_biz_mainbanner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mfangsoft.zhuangjialong.app.main.model.MainBannerEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_biz_mainbanner (image_url, data_param, image_link, 
      link_type, sort)
    values (#{image_url,jdbcType=VARCHAR}, #{data_param,jdbcType=VARCHAR}, #{image_link,jdbcType=VARCHAR}, 
      #{link_type,jdbcType=INTEGER}, #{sort,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mfangsoft.zhuangjialong.app.main.model.MainBannerEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_biz_mainbanner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="image_url != null">
        image_url,
      </if>
      <if test="data_param != null">
        data_param,
      </if>
      <if test="image_link != null">
        image_link,
      </if>
      <if test="link_type != null">
        link_type,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="image_url != null">
        #{image_url,jdbcType=VARCHAR},
      </if>
      <if test="data_param != null">
        #{data_param,jdbcType=VARCHAR},
      </if>
      <if test="image_link != null">
        #{image_link,jdbcType=VARCHAR},
      </if>
      <if test="link_type != null">
        #{link_type,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mfangsoft.zhuangjialong.app.main.model.MainBannerEntity">
    update t_biz_mainbanner
    <set>
      <if test="image_url != null">
        image_url = #{image_url,jdbcType=VARCHAR},
      </if>
      <if test="data_param != null">
        data_param = #{data_param,jdbcType=VARCHAR},
      </if>
      <if test="image_link != null">
        image_link = #{image_link,jdbcType=VARCHAR},
      </if>
      <if test="link_type != null">
        link_type = #{link_type,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mfangsoft.zhuangjialong.app.main.model.MainBannerEntity">
    update t_biz_mainbanner
    set image_url = #{image_url,jdbcType=VARCHAR},
      data_param = #{data_param,jdbcType=VARCHAR},
      image_link = #{image_link,jdbcType=VARCHAR},
      link_type = #{link_type,jdbcType=INTEGER},
      sort = #{sort,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>