<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mfangsoft.zhuangjialong.app.article.mapper.MainArticleColumnMapper">
  <sql id="Base_Column_List">
    id, img_url, link_type, data_param, create_time, sort, state
  </sql>
  <select id="selectArticleColumns" resultType="com.mfangsoft.zhuangjialong.app.article.model.BaseMainArticleColumnEntity">
  select 
   <include refid="Base_Column_List" />
   from t_biz_main_article_column order by id
  </select>
</mapper>