<!DOCTYPE html>
<style>
.oneColumn{
	font-size: 20px;
    text-align: center;
    margin: 10px auto;
}
.button_center{
    display: inherit;
	margin: 10px auto;
}
</style>

<div ng-controller="linkSkipCtrl">
    
   	<section class="well">
   		<!-- 标题 -->
   	  	<div class="fileAbout backstage">内容跳转设定</div>
    
    	<div class="idMessage">
	   		<div class="greenLine">
	   			<div id="list1" class="oneList choose" ng-click="chooseList(1)">产品跳转</div>
	   			<div id="list2" class="oneList" ng-click="chooseList(2)">专辑跳转</div>
	   			<div id="list3" class="oneList" ng-click="chooseList(3)">图文跳转</div>
	   			<div id="list4" class="oneList" ng-click="chooseList(4)">活动跳转</div>
	   			<div id="list5" class="oneList" ng-click="chooseList(5)">栏目跳转</div>
	   		</div>
	   		
	   		<!-- 产品跳转 -->
	   		<div id="container1">
	   			<div class="form-horizontal form-widgets col-sm-12 gray" >
	   				<div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">行业</label>
			                <div class="col-sm-8">
			                    <input id="industry"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">品类</label>
			                <div class="col-sm-8">
			                    <input id="class"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">品牌</label>
			                <div class="col-sm-8">
			                    <input id="brand"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">标题</label>
			                <div class="col-sm-8">
			                    <input ng-model="search1.title" class="k-textbox"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">合伙人</label>
			                <div class="col-sm-8">
			                    <input ng-model="search1.partner" class="k-textbox"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">付款模式</label>
			                <div class="col-sm-8">
			                    <input id="payModel"/>
			                </div>
			            </div>
			        </div>
			        
			        
			        <div class="buttons-wrap">
			            <button class="k-button k-state-default " ng-click="search(1)" >搜索</button>
			        </div>
	   			</div>

	   			<div kendo-grid="grid1"  k-options="mainGridOptions1" ></div>
	   			
	   			<button class="k-button k-state-default button_center" ng-click="submit(1)" >确定</button>
	   		</div>
	   		
	   		<!-- 专辑跳转 -->
	   		<div id="container2">
	   			<div kendo-grid="grid2"  k-options="mainGridOptions2" ></div>
	   			
	   			<button class="k-button k-state-default button_center" ng-click="submit(2)" >确定</button>
	   		</div>
	   		
	   		<!-- 图文跳转-->
	   		<div id="container3">
	   			<div class="form-horizontal form-widgets col-sm-12 gray" >
	   				<div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">标题</label>
			                <div class="col-sm-8">
			                    <input ng-model="search3.title" class="k-textbox"/>
			                </div>
			            </div>
			        </div>
			        
			        <div class="buttons-wrap">
			            <button class="k-button k-state-default " ng-click="search(3)" >搜索</button>
			        </div>
	   			</div>

	   			<div kendo-grid="grid3"  k-options="mainGridOptions3" ></div>
	   			
	   			<button class="k-button k-state-default button_center" ng-click="submit(3)" >确定</button>
	   		</div>
	   		
	   		<!-- 活动跳转 -->
	   		<div id="container4">
	   			<div class="form-horizontal form-widgets col-sm-12 gray" >
	   				<div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">标题</label>
			                <div class="col-sm-8">
			                    <input ng-model="search4.title" class="k-textbox"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">类型</label>
			                <div class="col-sm-8">
			                    <input id="type_4"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">开始时间</label>
			                <div class="col-sm-8">
			                    <input id="startTime_4"/>
			                </div>
			            </div>
			        </div>
			        <div class="form-horizontal form-widgets col-sm-4">
			            <div class="form-group">
			                <label class="control-label col-sm-4">结束时间</label>
			                <div class="col-sm-8">
			                    <input id="endTime_4"/>
			                </div>
			            </div>
			        </div>
			        
			        <div class="buttons-wrap">
			            <button class="k-button k-state-default " ng-click="search(4)" >搜索</button>
			        </div>
	   			</div>

	   			<div kendo-grid="grid4"  k-options="mainGridOptions4" ></div>
	   			
	   			<button class="k-button k-state-default button_center" ng-click="submit(4)" >确定</button>
	   		</div>
	   		
	   		<!-- 栏目跳转 -->
	   		<div id="container5">
	   			<div id="columnContainer" class="col-sm-12">
	   				<!-- <div class="col-sm-2">
	   					<div class="oneColumn">
	   						<input type="radio" name="oneColumn"/>产品甄选
	   					</div>
	   				</div> -->
	   			</div>
	   			
	   			<div style="clear: both;">
	   				<button class="k-button k-state-default button_center" ng-click="submit(5)" >确定</button>
	   			</div>
	   		</div>
   		</div>
    </section>
    
    <div kendo-window="productDetailsWindow" k-title="'产品详情'" k-width="800" k-min-height="200" k-visible="false" k-modal="true">
    	<div class="col-sm-11 allTable">
	    	<table class="col-sm-12 table table-striped">
	    		<tr>
	                <td colspan="2">
	                	<div id="productImage_1" style="width:120px;height:120px;"/></div>
	                </td>
	                <td colspan="2">
	                	<div id="productImage_2" style="width:120px;height:120px;"/></div>
	                </td>
	                <td colspan="2">
	                	<div id="productImage_3" style="width:120px;height:120px;"/></div>
	                </td>
	                <td colspan="2">
	                	<div id="productImage_4" style="width:120px;height:120px;"/></div>
	                </td>
	                <td colspan="2">
	                	<div id="productImage_5" style="width:120px;height:120px;"/></div>
	                </td>
                </tr>
                <tr>
	                <td colspan="2">产品标题：</td>
	                <td colspan="8">{{details.product_title}}</td>
                </tr>
                <tr>
	                <td colspan="2">是否新品：</td>
	                <td colspan="3">{{details.isnew}}</td>
	                <td colspan="2">计价单位：</td>
	                <td colspan="3">{{details.product_unit}}</td>
                </tr>
                <tr>
	                <td colspan="2">付款模式：</td>
	                <td colspan="3">{{details.sales_model}}</td>
	                <td colspan="2">付款百分比：</td>
	                <td colspan="3">{{details.percent}}</td>
                </tr>
                <tr>
	                <td colspan="2">所属分类：</td>
	                <td colspan="8">{{details.seriesName}}</td>
                </tr>
                <tr>
	                <td colspan="2">使用空间：</td>
	                <td colspan="8">{{details.space}}</td>
                </tr>
                <tr>
	                <td colspan="2">风格：</td>
	                <td colspan="8">{{details.style}}</td>
                </tr>
	    	</table> 
	    </div>
    </div>
    <div kendo-window="albumDetailsWindow" k-title="'专辑详情'" k-width="800" k-min-height="200" k-visible="false" k-modal="true">
    	<div class="col-sm-11">
	    	<table class="col-sm-12 table table-striped">
	    		<tr>
	                <td class="col-sm-2">专辑名称：</td>
	                <td class="col-sm-10">{{details.name}}</td>
                </tr>
                <tr>
	                <td>专辑图像：</td>
	                <td>
	                	<div id="albumImage" style="width:500px;height:200px;"/></div>
	                </td>
                </tr>
	    	</table> 
	    </div>
    </div>
    <div kendo-window="contentDetailsWindow" k-title="'图文详情'" k-width="800" k-min-height="200" k-visible="false" k-modal="true">
    	<div class="col-sm-11">
	    	<table class="col-sm-12 table table-striped">
	    		<tr>
	                <td class="col-sm-5" rowspan="5">
	                	<div>缩略图</div>
	                	<div id="contentImage" style="width:200px;height:200px;"/></div>
	                </td>
	                <td class="col-sm-2">所属专辑：</td>
	                <td class="col-sm-5">{{details.abum_name}}</td>
                </tr>
                <tr>
	                <td>文章标题：</td>
	                <td>{{details.title}}</td>
                </tr>
                <tr>
	                <td>文章概述：</td>
	                <td>{{details.digest}}</td>
                </tr>
                <tr>
	                <td>文章作者：</td>
	                <td>{{details.author}}</td>
                </tr>
                <tr>
	                <td>发布日期：</td>
	                <td>{{details.create_time}}</td>
                </tr>
                <tr>
	                <td colspan="3"><div ng-bind-html="details.details" style="height:350px;overflow-y:scroll;"></div></td>
                </tr>
	    	</table> 
	    </div>
    </div>
    <div kendo-window="unionActivityDetailsWindow" k-title="'联盟活动详情'" k-width="800" k-min-height="200" k-visible="false" k-modal="true">
    	<div class="col-sm-11 allTable">
	    	<table class="col-sm-12 table table-striped">
	    		<tr>
	                <td class="col-sm-2">封面图：</td>
	                <td class="col-sm-10" colspan="3">
	                	<div id="unionActivityImage" style="width:500px;height:200px;"/></div>
	                </td>
                </tr>
                <tr>
	                <td>活动名称：</td>
	                <td colspan="3">{{details.name}}</td>
                </tr>
                <tr>
	                <td>活动规则：</td>
	                <td colspan="3">
	                	<textarea style="width:100%;height:90px;">{{details.rule}}</textarea>
	                </td>
                </tr>
                <tr>
	                <td>活动类型：</td>
	                <td>{{details.type}}</td>
	                <td>订金劵名称：</td>
	                <td>{{details.title}}</td>
                </tr>
                <tr>
	                <td>额度：</td>
	                <td>{{details.cash_value}}</td>
	                <td>价格：</td>
	                <td>{{details.price}}</td>
                </tr>
                <tr>
	                <td>发布数量：</td>
	                <td>{{details.count}}</td>
	                <td>优惠折扣：</td>
	                <td>{{details.discount}}</td>
                </tr>
                <tr>
	                <td>开始时间：</td>
	                <td>{{details.start_time}}</td>
	                <td>结束时间：</td>
	                <td>{{details.end_time}}</td>
                </tr>
                <tr>
	                <td>报名截止时间：</td>
	                <td>{{details.apply_end_time}}</td>
	                <td>商品范围：</td>
	                <td>{{details.productRange}}</td>
                </tr>
                <tr>
	                <td>参与品牌：</td>
	                <td colspan="3"><div ng-bind-html="details.joinBrand"></div></td>
                </tr>
	    	</table> 
	    </div>
    </div>
    <div kendo-window="seckillActivityDetailsWindow" k-title="'秒杀活动详情'" k-width="800" k-min-height="200" k-visible="false" k-modal="true">
    	<div class="col-sm-11 allTable">
	    	<table class="col-sm-12 table table-striped">
	    		<tr>
	                <td class="col-sm-2">活动宣传图：</td>
	                <td class="col-sm-10" colspan="3">
	                	<div id="seckillActivityImage" style="width:500px;height:200px;"/></div>
	                </td>
                </tr>
                <tr>
	                <td>活动名称：</td>
	                <td>{{details.title}}</td>
	                <td>优惠限购：</td>
	                <td>{{details.isLimit}}</td>
                </tr>
                <tr>
	                <td>报名截止日期：</td>
	                <td>{{details.limit_time}}</td>
	                <td>报名数量：</td>
	                <td>{{details.promotion_product_num}}</td>
                </tr>
                <tr>
	                <td>开始时间：</td>
	                <td>{{details.start_time}}</td>
	                <td>结束时间：</td>
	                <td>{{details.end_time}}</td>
                </tr>
                <tr>
	                <td>时间段：</td>
	                <td colspan="3"><div ng-bind-html="details.timeRange"></div></td>
                </tr>
                <tr>
	                <td>参与合伙人：</td>
	                <td colspan="3">{{details.principal}}</td>
                </tr>
                <tr>
	                <td>参与品类：</td>
	                <td colspan="3">{{details.class_name}}</td>
                </tr>
	    	</table> 
	    </div>
    </div>
    
    
</div>

    

