<!DOCTYPE html>
<div ng-controller="trademarkBrandProduct">
	<section class="well ">
		<!-- 标题 -->
		<div class="fileAbout backstage">产品数据</div>
		<div class="idMessage">
			<div class="form-horizontal form-widgets col-sm-12 gray">
				<div class="form-group">
					<div class="form-horizontal form-widgets col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-1">标题</label>
							<div class="col-sm-3">
								<input ng-model="form.product_name" id="product_title"
									class="k-textbox" placeholder="输入标题搜索" />
							</div>

							<label class="col-xs-1 control-label">分类</label>
							<div class="col-sm-3">
								<input id="classify" />
							</div>

							<label class="col-sm-1 control-label">付款模式</label>
							<div class="col-sm-3">
								<select id="payment_mode" ng-model="form.model"
									kendo-combo-box="combo_dep" k-data-text-field="'name'"
									k-data-value-field="'id'" style="width: 100%">
									<option value="">全部</option>
									<option value="1">全款</option>
									<option value="2">定金</option>
								</select>
							</div>

						</div>
					</div>
					<div class="form-horizontal form-widgets col-sm-12">
						<div class="form-group">
							<label class="col-xs-1 control-label">状态筛选</label>
							<div class="col-sm-3">
								<select id="state" ng-model="form.state"
									kendo-combo-box="combo_dep" k-data-text-field="'name'"
									k-data-value-field="'id'" style="width: 100%">
									<option value="">全部</option>
									<option value="1">上架</option>
									<option value="2">下架</option>
								</select>
							</div>

							<label class="col-xs-1 control-label">系列</label>
							<div class="col-sm-3">
								<input id="series" />
							</div>
						</div>
					</div>

					<div class="buttons-wrap">
						<button class="k-button k-state-default" ng-click="search()">搜索</button>
					</div>
				</div>
			</div>
			<div>
			 	<button class="k-button k-state-default" ng-click="checkAll(true)">全选</button>
			 	<button class="k-button k-state-default" ng-click="checkAll(false)">取消</button>
				<button class="k-button k-state-default" ng-click="putawayData()"
					id="ppcpdelete">上架</button>
				<button class="k-button k-state-default" ng-click="soldOutData()"
					id="xiajia">下架</button>

				<button class="k-button k-state-default" ng-click="dataExport()">筛选导出</button>
				<button class="k-button k-state-default" ng-click="dataCheckboxExport()">选中导出</button>
				<button class="k-button k-state-default"
					ng-click="productInformation()" id="addchangpin">新增产品</button>
				<hr class="towGreen">
			</div>


			<div kendo-grid="grid" k-options="mainGridOptions" id="grid"></div>
		</div>
	</section>
	<div kendo-window="linkUrlWindow" k-title="'链接地址'" k-width="700" k-min-height="70" k-visible="false" k-modal="true">
	    <div class="form-horizontal form-widgets col-sm-11">
		    <div class="form-group">
		        <label class="control-label col-sm-2">链接地址：</label>
		        <div class="col-sm-8">
		            <input ng-model="linkUrl" class="k-textbox"/>
		        </div>
		    </div>
	    </div>
    </div>
</div>


