<!DOCTYPE html>
<style>
.imgContainer1{ 
    width: 100%;
    height: 180px;
    margin: 5px auto;
}
.imgContainer1 .imgBackground1{
    width: 90%;
    height: 180px;
    border: 1px dashed #999999;
    text-align: center;
    line-height: 180px;
    font-size: 100px;
    background-color: #eeeeee;
    color: #999999; 
    position: absolute;
}
.imgContainer1 .imgBackground2{
    width: 90%;
    height: 180px;
    position: absolute;
}
.imgContainer1 .k-upload{
	opacity: 0;
}
.imgContainer1 .k-upload .k-dropzone{
	padding: 0px;
}
.imgContainer1 .k-upload .k-upload-button{
	width: 100%;
    height: 180px;  
} 
font {
    color: red;
    font-size: 20px;
} 
.k-multiselect .k-multiselect-wrap #area_taglist li{
	margin:1px 13px 1px 1px;
}
.imgContainer{
	width: 100%;
	height: 180px;
}

</style>


<div ng-controller="addPartnerInformationCtrl">
<section class="well">
    <!-- 标题 -->
    <div class="fileAbout backstage">合伙人信息管理 > 
    	<span>创建合伙人账号信息</span>
    </div>
     <div class="idMessage">
    <div class="form-horizontal form-widgets col-sm-12">
	        <div class="form-horizontal form-widgets col-sm-6">
	            <div class="form-group">
	                <label class="control-label col-sm-4">姓名<font>*</font></label>
	                <div class="col-sm-6"><input ng-model="form.principal"  class="k-textbox" placeholder="请输入姓名"/></div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-6">
	            <div class="form-group">
	                <label class="control-label col-sm-4">联系方式<font>*</font></label>
	                <div class="col-sm-6"><input ng-model="form.phone_num" ng-blur="checkPhoneNumber()" class="k-textbox" placeholder="请输入联系方式"/></div>
	            </div>
	     </div>
     </div>
        <div class="form-horizontal form-widgets col-sm-12" style="clear: both;">
            <div class="form-group">
                <label class="control-label col-sm-2 businessr">企业属性</label>
                <div class="col-sm-8">
                	<div class="col-sm-12  push" >{{enterpriseName}}</div>
                </div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2 businessr">服务区域<font>*</font></label>
                <div class="col-sm-4"><input id="province"/></div>
                <div class="col-sm-4"><input id="city"/></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
            	<label class="control-label col-sm-2"></label>
                <div class="col-sm-8"><input id="area" class="k-textbox"/></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2 businessr">创建账号<font>*</font></label>
                <div class="col-sm-3"><input ng-model="form.userEntity.account" ng-blur="checkNotContainChinese(1);checkAccount();" class="k-textbox" placeholder="设置账号"/></div>
                <label class="control-label col-sm-2">创建密码<font>*</font></label>
                <div class="col-sm-3">
                	<input ng-model="form.userEntity.pwd" ng-blur="checkNotContainChinese(2)" class="k-textbox" placeholder="设置密码" id="pwd"/>
                </div>
                <button class="k-button k-state-default" id="resetPasswordBtn" ng-click="resetPassword()">重置</button>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2 outPadding">工商注册信息<font>*</font></label>
                <div class="col-sm-9">
	                <div class="col-sm-4 businessr" >
	       		    	<label class=" col-sm-12 business" >营业执照</label>
	       		    	<div class="col-sm-12" id="commerceInfo_1">
			   	 			<div class="imgContainer1">
			                	<div class="imgBackground1">
			                		<span class="glyphicon glyphicon-plus"></span>
			                	</div>
			                	<div class="imgBackground2" id="upload1_img"></div>
			                	<input type="file" name="file" id="upload1"/>
			                	<input type="hidden" id="upload1_url"/>
		                	</div>
		   	 			</div>
	       		    	<div class="col-sm-12">
		                	<input ng-model="form.commerceInfo.biz_num" class="k-textbox" placeholder="营业执照注册号"/>
		                </div>
	       		    </div>
	       		    <div class="col-sm-4">
	       		    	<label class=" col-sm-12 business">开户许可证</label>
	       		    	<div class="col-sm-12" id="commerceInfo_2">
			   	 			<div class="imgContainer1">
			                	<div class="imgBackground1">
			                		<span class="glyphicon glyphicon-plus"></span>
			                	</div>
			                	<div class="imgBackground2" id="upload2_img"></div>
			                	<input type="file" name="file" id="upload2"/>
			                	<input type="hidden" id="upload2_url"/>
		                	</div>
		   	 			</div>
	       		    	<div class="col-sm-12">
		                	<input ng-model="form.commerceInfo.open_acount" class="k-textbox" placeholder="开户许可证号" style="padding-right:0;"/>
		                </div>
	       		    </div>
	       		    <div class="col-sm-4">
	       		    	<label class=" col-sm-12 business">税务登记证</label>
	       		    	<div class="col-sm-12" id="commerceInfo_3">
			   	 			<div class="imgContainer1">
			                	<div class="imgBackground1">
			                		<span class="glyphicon glyphicon-plus"></span>
			                	</div>
			                	<div class="imgBackground2" id="upload3_img"></div>
			                	<input type="file" name="file" id="upload3"/>
			                	<input type="hidden" id="upload3_url"/>
		                	</div>
		   	 			</div>
	       		    	<div class="col-sm-12">
		                	<input ng-model="form.commerceInfo.tax_num" class="k-textbox" placeholder="税务登记证号" style="padding-right:0;"/>
		                </div>
	       		    </div>
                </div>
            </div>
        </div> 
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2 businessr">银行信息<font>*</font></label> 
                <div class="col-sm-9">
                	<div class=" col-sm-12 push" style="float:left;">
	                <label class="control-label col-sm-2 businessr">户名</label>
	                <div class="col-sm-10"><input ng-model="form.bankInfo.name" class="k-textbox" placeholder="设置户名"/></div>
	                </div>
	                <div class=" col-sm-12 push" style="float:left;">
	                <label class="control-label col-sm-2 businessr">对公账号</label>
	                <div class="col-sm-10"><input ng-model="form.bankInfo.account" class="k-textbox" placeholder="设置账号"/></div>
	                </div>
	                <div class=" col-sm-12 push" style="float:left;">
	                <label class="control-label col-sm-2 businessr">开户行</label>
	                <div class="col-sm-10"><input ng-model="form.bankInfo.addr" class="k-textbox" placeholder="设置开户行"/></div>
	                </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2 outPadding">第三方账户（至少一项）<font>*</font></label> 
                <div class="col-sm-9">
                <div class=" col-sm-12 push" style="float:left">
	                <label class="control-label col-sm-2 businessr">支付宝</label>
	                <div class="col-sm-10"><input ng-model="form.bankInfo.pay_account" ng-blur="checkAlipayNumber()" class="k-textbox" placeholder="请输入支付宝账号"/></div>
	                </div>
	                <div class=" col-sm-12 push" style="float:left">
	                <label class="control-label col-sm-2 businessr">微信</label>
	                <div class="col-sm-10"><input ng-model="form.bankInfo.webkit_account" class="k-textbox" placeholder="请输入微信账号"/></div>
	                </div>
                </div>
            </div>
        </div>
       <div id="checkState" class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-5">审核状态</label>
                <div class="col-sm-6 push" style="color:#caa359;">{{form.check_stateStr}}</div>
            </div>
        </div>
        
        <button class="k-button k-state-default centerButton" ng-click="formSubmit()" id="formSubmitButton">确定</button>
        </div>
    </section>
</div>
    

