<!DOCTYPE html>
<div ng-controller="storeInformationCtrl">
<section class="well">
    <!-- 标题 -->
    <div class="fileAbout backstage">店铺信息管理
    </div>
    
   	<div class="idMessage">
   	 	<div class="form-horizontal form-widgets col-sm-12 gray">
            <div class="form-group">
		        <div class="form-horizontal form-widgets col-sm-4" ng-show="enterprise_show">
		            <div class="form-group">
		                <label class="control-label col-sm-4">企业名称</label>
		                <div class="col-sm-8"><input ng-model="search.enterprise_name"  class="k-textbox"/></div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-4" ng-show="partner_show">
		            <div class="form-group">
		                <label class="control-label col-sm-4">合伙人</label>
		                <div class="col-sm-8"><input ng-model="search.partner_principal"  class="k-textbox"/></div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-4" ng-show="brand_show">
		            <div class="form-group">
		                <label class="control-label col-sm-4">品牌名称</label>
		                <div class="col-sm-8"><input ng-model="search.brand_name"  class="k-textbox"/></div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-4">
		            <div class="form-group">
		                <label class="control-label col-sm-4">后台账号</label>
		                <div class="col-sm-8"><input ng-model="search.account"  class="k-textbox"/></div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-4">
		            <div class="form-group">
		                <label class="control-label col-sm-4">负责人</label>
		                <div class="col-sm-8"><input ng-model="search.user_name"  class="k-textbox"/></div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-4">
		            <div class="form-group">
		                <label class="control-label col-sm-4" translate="phone_number"></label>
		                <div class="col-sm-8"><input ng-model="search.phone_num"  class="k-textbox"/></div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-4">
		            <div class="form-group">
		                <label class="control-label col-sm-4">店铺名称</label>
		                <div class="col-sm-8"><input ng-model="search.shop_name"  class="k-textbox"/></div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-4">
		            <div class="form-group">
		                <label class="control-label col-sm-4">店铺状态</label>
		                <div class="col-sm-8">
		                	<input id="shopState"/>
		                </div>
		            </div>
		        </div>
		        
		        <div class="buttons-wrap clearBoth">
		            <button class="k-button k-state-default" ng-click="search()" translate="search"></button>
		        </div>
     		</div>
     	</div>
     <div>
     	<button class="k-button k-state-default" ng-click="checkAll(true)">全选</button>
	 	<button class="k-button k-state-default" ng-click="checkAll(false)">取消</button>
		<button class="k-button k-state-default" ng-click="dataExport()">筛选导出</button>
		<button class="k-button k-state-default" ng-click="dataCheckboxExport()">选中导出</button>
     	<button class="k-button k-state-default" ng-click="addAccountInformation()" id="addAccount" translate="add_account_information"></button>
     	<hr class="towGreen">
     </div>
     
     <div id="gridStore" kendo-grid="grid"  k-options="mainGridOptions" ></div>
    </section>
</div>
    

