<!DOCTYPE html>
<style>
.thisTitle thead tr th, .thisTitle thead tr th a {
	text-align: center;
	color: #fff;
}
</style>
<div ng-controller="developerExchangeManage">
	<section class="well ">
		<!-- 标题 -->
		<div class="fileAbout backstage">兑换管理</div>
		
		<div class="idMessage">
		
			<div class="form-horizontal form-widgets col-sm-12 gray">
			
				<div class="form-group">
					<div class="form-horizontal form-widgets col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-1">商品名称</label>
							<div class="col-sm-3">
								<input id="product_title" placeholder="商品名称" style="width:100%;"/>
							</div>
							<label class="control-label col-sm-1">兑换类型</label>
							<div class="col-sm-3">
								<input id="convert_type" placeholder="兑换类型"  style="width:100%;"/>
							</div>
							<label class="control-label col-sm-1">使用状态</label>
							<div class="col-sm-3">
								<input id="state" placeholder="使用状态" style="width:100%;"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-1">用户昵称</label>
							<div class="col-sm-3">
								<input id="userName" placeholder="用户昵称" style="width:100%;"/>
							</div>
							<label class="control-label col-sm-1">城市合伙人</label>
							<div class="col-sm-3">
								<input id="partner_name" placeholder="城市合伙人"  style="width:100%;"/>
							</div>
							<label class="control-label col-sm-1">店铺名称</label>
							<div class="col-sm-3">
								<input id="shop_name" placeholder="店铺名称" style="width:100%;"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-1">使用时间</label>
							<div class="col-sm-3">
								<input id="convert_time" placeholder="使用时间" style="width:100%;"/>
							</div>
						</div>
					</div>

					<div class="buttons-wrap clearBoth">
						<button class="k-button k-state-default blueBackground"
							ng-click="search()">搜索</button>
					</div>
				</div>
			</div>
			
			<div>
				<button class="k-button k-state-default" ng-click="checkAll(true)">全选</button>
			 	<button class="k-button k-state-default" ng-click="checkAll(false)">取消</button>
				<button class="k-button k-state-default" ng-click="dataExport()">筛选导出</button>
				<button class="k-button k-state-default" ng-click="dataCheckboxExport()">选中导出</button>
				<hr class="towGreen">
			</div>
			
			<div id="gridExhange" kendo-grid="grid" k-options="mainGridOptions" class="thisTitle"></div>

		</div>
	</section>
</div>
