<!DOCTYPE html>
<style>
.title {
	font-size: 17px;
	color: black;
	text-align: right;
}

.text {
	font-size: 18px;
	color: gray;
	text-align: left;
}

.title2 {
	font-size: 18px;
	color: black;
	text-align: center;
	padding: 5px;
}

.text2 {
	font-size: 18px;
	color: gray;
	text-align: center;
	padding: 5px;
}

.button_center {
	display: inherit;
	margin: auto;
}

.img_commerce {
	width: 100%;
	height: 244px;
	margin: 0px auto;
	background: #caa359;
}

font {
	color: red;
	font-size: 20px;
}
.auto {
	overflow: auto
}
.bix {
	width: 400px;
	height: auto;
}
</style>
<div ng-controller="brandBackInformationCtrl">
    <section class="well">
    <!-- 标题 -->
    <div class="fileAbout backstage">后台信息   >
   		<span> 品牌账号信息</span>	
    	 <!--<hr/> -->
    </div>
    <div class="idMessage" >
    	<div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">品牌名称：</label>
                <div class="col-sm-6 text" ng-cloak>{{brand_name}}</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">负责人：</label>
                <div class="col-sm-6"><input ng-model="principal"  class="k-textbox"/></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">联系方式：</label>
                <div class="col-sm-6"><input ng-model="phone_num"  class="k-textbox"/></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">LOGO：</label>
                <div class="col-sm-6 text">
                	<div id="logo_img" style="width: 150px; height: 150px;"></div>
                </div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">品牌属性：</label>
                <div class="col-sm-6 text" ng-cloak>{{enterprise_name}}(企业)&nbsp;&nbsp;&nbsp;&nbsp;{{partner_name}}(合伙人)</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">服务区域：</label>
                <div class="col-sm-6 text"><span ng-bind-html="region_str"></span></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">产品品类：</label>
                <div class="col-sm-6 text" ng-cloak>{{class_name}}</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">账号：</label>
                <div class="col-sm-6 text" ng-cloak>{{userEntity.account}}</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">密码：</label>
                <div class="col-sm-6 text">******</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">工商注册信息<font>*</font></label>
                <div class="col-sm-6 text"></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
            	<label class="col-sm-2"></label>
                <div class="col-sm-8">
	                <div class="col-sm-4">
	                	<div class="col-sm-12 title2">营业执照</div>
	                	<div class="col-sm-12 img_commerce" id="biz_img"></div>
	                	<div class="col-sm-12 text2" ng-cloak>{{commerceEntity.biz_num}}</div>
	                </div>
	                <div class="col-sm-4">
	                	<div class="col-sm-12 title2">开户许可证</div>
	                	<div class="col-sm-12 img_commerce" id="open_img"></div>
	                	<div class="col-sm-12 text2" ng-cloak>{{commerceEntity.open_acount}}</div>
	                </div>
	                <div class="col-sm-4">
	                	<div class="col-sm-12 title2">税务登记证</div>
	                	<div class="col-sm-12 img_commerce" id="tax_img"></div>
	                	<div class="col-sm-12 text2" ng-cloak>{{commerceEntity.tax_num}}</div>
	                </div>
                
                </div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">银行信息<font>*</font></label>
                <div class="col-sm-6 text"></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">户名：</label>
                <div class="col-sm-6 text" ng-cloak>{{bankEntity.name}}</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">对公账号：</label>
                <div class="col-sm-6 text" ng-cloak>{{bankEntity.account}}</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">开户行：</label>
                <div class="col-sm-6 text" ng-cloak>{{bankEntity.addr}}</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">第三方账户（至少一项）<font>*</font></label>
                <div class="col-sm-6 text"></div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">支付宝：</label>
                <div class="col-sm-6 text" ng-cloak>{{bankEntity.pay_account}}</div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="col-sm-4 title">微信：</label>
                <div class="col-sm-6 text" ng-cloak>{{bankEntity.pay_account}}</div>
            </div>
        </div>
        
        <button class="k-button k-state-default button_center" ng-click="formSubmit()">确定</button>
        </div>
    </section>
</div>



