<!DOCTYPE html>
<style>
.info{
	padding-top: 7px;
} 
.tips{
	padding-top: 7px;
	color: red;
}
.tips2{
	padding-top: 7px;
	color: red;
    font-size: 20px;
    font-weight: bold;
}
.button_center{
    display: inherit;
	margin: 10px auto; 
}
</style>
<div ng-controller="activitySignCtrl">
	<section class="well">
	    <!-- 标题 -->
	    <div class="fileAbout backstage">平台活动</div>
	    
	    <div class="idMessage">
	        <div class="form-horizontal form-widgets col-sm-12">
	            <div class="form-group">
	                <label class="control-label col-sm-4">活动名称：</label>
	                <div class="col-sm-8 info">{{activityInfo.title}}</div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-12">
	            <div class="form-group">
	                <label class="control-label col-sm-4">活动类型：</label>
	                <div class="col-sm-8 info">{{activityInfo.type}}</div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-12">
	            <div class="form-group">
	                <label class="control-label col-sm-4">报名截止日期：</label>
	                <div class="col-sm-8 info">{{activityInfo.limit_time}}</div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-12">
	            <div class="form-group">
	                <label class="control-label col-sm-4">活动时间：</label>
	                <div class="col-sm-8 info">{{activityInfo.time}}</div>
	            </div>
	        </div>
	        
	      <!--   秒杀活动 -->
	        <div id="activityType_1">
		        <div class="form-horizontal form-widgets col-sm-12">
		            <div class="form-group">
		                <label class="control-label col-sm-4">参与数量：</label>
		                <div class="col-sm-8 info">{{activityInfo.promotion_product_num}}</div>
		            </div>
		        </div>
		        <div id="timeRange">
			        <!-- <div class="form-horizontal form-widgets col-sm-12">
			            <div class="form-group">
			                <label class="control-label col-sm-4">活动时间</label>
			                <div class="col-sm-1 info">01:00~02:00</div>
			                <div class="col-sm-1">
			                	<button class="k-button k-state-default" ng-click="formSubmit()">确定</button>
			                </div>
			                <div class="col-sm-3 tips">当前时间段报名数量已满！</div>
			            </div>
			        </div> -->
		        </div>
	        </div>
	        <!--   折扣活动 -->
	        <div id="activityType_2">
		        <div class="form-horizontal form-widgets col-sm-12">
		            <div class="form-group">
		                <label class="control-label col-sm-4">活动说明：</label>
		                <div class="col-sm-8 info">{{activityInfo.content}}</div>
		            </div>
		        </div>
		        <div class="form-horizontal form-widgets col-sm-12">
		            <div class="form-group">
		                <label class="control-label col-sm-4">折扣设置：</label>
		                <div class="col-sm-8">
		                	<div ng-repeat="one in discountParam" style="padding: 5px">
		                		<div ng-if="activityType==1">
			                		<span>满折{{$index+1}}：&nbsp;&nbsp;</span>
			                		<span>满&nbsp;{{one.value1}}&nbsp;元&nbsp;&nbsp;</span>
			                		<span>折扣比例&nbsp;{{one.discount*100}}&nbsp;%</span>
		                		</div>
		                		<div ng-if="activityType==2">
			                		<span>满减{{$index+1}}：&nbsp;&nbsp;</span>
			                		<span>满&nbsp;{{one.value1}}&nbsp;元&nbsp;&nbsp;</span>
			                		<span>减&nbsp;{{one.discount}}&nbsp;元</span>
		                		</div>
		                		<div ng-if="activityType==3">
			                		<span>折扣{{$index+1}}：&nbsp;&nbsp;</span>
			                		<span>第&nbsp;{{one.value1}}&nbsp;件起&nbsp;&nbsp;</span>
			                		<span>折扣比例&nbsp;{{one.discount*100}}&nbsp;%</span>
		                		</div>
		                	</div>
		                </div>
		            </div>
		        </div>
		        
		        
	        	<div class="col-sm-9" id="discountOperate">
	        		<button class="k-button k-state-default button_center" ng-click="discountActivityJoin()">报名</button>
	        	</div>
	        </div>
	        
	       
	        <div class="form-horizontal form-widgets col-sm-12" style="clear: both;">
	        	<div class="form-group">
		            <div class="col-sm-3"></div>
		            <div class="col-sm-8 tips2">报名成功后，请到【产品管理】中设置产品！</div>
	            </div>
	        </div>
	        

	    </div>
    </section>  
</div>
    

