<!DOCTYPE html>
<style>
.canEdit{
	color: #0084ff;
    cursor: pointer;
}
.noEdit{
	color: gray; 
}
</style>
<div ng-controller="brandActivityCtrl">
    <!-- 标题 -->
    <section class="well">
    <div class="fileAbout backstage">联合促销品牌活动
    </div>
    
   	<div class="idMessage">
   	  <div class="form-horizontal form-widgets col-sm-12 gray">
	      <div class="form-group">
	        <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">活动名称</label>
	                <div class="col-sm-8">
	                    <input ng-model="search.activity_name"  class="k-textbox"/>
	                </div>
	            </div>
	        </div>
	        <!-- <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">活动性质</label>
	                <div class="col-sm-8">
	                    <input id="activity_property"/>
	                </div>
	            </div>
	        </div> -->
	        <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">活动状态</label>
	                <div class="col-sm-8">
	                    <input id="activity_state"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">省</label>
	                <div class="col-sm-8">
	                    <input id="province"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">市</label>
	                <div class="col-sm-8">
	                    <input id="city"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">区</label>
	                <div class="col-sm-8">
	                    <input id="area"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4" ng-show="enterprise_show">
	            <div class="form-group">
	                <label class="control-label col-sm-4">企业名称</label>
	                <div class="col-sm-8">
	                    <input id="enterprise_name"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4" ng-show="partner_show">
	            <div class="form-group">
	                <label class="control-label col-sm-4">合伙人姓名</label>
	                <div class="col-sm-8">
	                    <input id="partner_principal"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4" ng-show="brand_show">
	            <div class="form-group">
	                <label class="control-label col-sm-4">品牌名称</label>
	                <div class="col-sm-8">
	                    <input id="brand_name"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">发布日期（始）</label>
	                <div class="col-sm-8">
	                    <input id="start_time"/>
	                </div>
	            </div>
	        </div>
	        <div class="form-horizontal form-widgets col-sm-4">
	            <div class="form-group">
	                <label class="control-label col-sm-4">发布日期（止）</label>
	                <div class="col-sm-8">
	                    <input id="end_time"/>
	                </div>
	            </div>
	        </div>
	        
	        <div class="buttons-wrap clearBoth">
	            <button class="k-button k-state-default" ng-click="search()" >查询</button>
	        </div>
     	</div>
     </div>
	<div >
     	<button class="k-button k-state-default" ng-click="publishPromotionActivity()" ng-show="publishPromotionActivity_show">发布促销活动</button>
     </div>
    <div class="interval">
    	 <div kendo-grid="grid"  k-options="mainGridOptions" ></div>
    </div>
     </div>
     </section>
</div>
    

